[2013-01-24 15:11] basil00 opened #1 "DivertOpen() always fails with (110) on Windows 2008 Server (non-r2)"
(bug report received via email):

WinDivert does not appear to work on Windows 2008 Server (non-r2), both x86 and AMD64.  DivertOpen() always returns a (110) error.

[2013-01-24 15:15] basil00 opened #2 "DivertParseIPv6Address() is broken"
(bug report submitted via email):

DivertParseIPv6Address() does not parse some valid IPv6 addresses.

[2013-02-08 16:14] #2 closed, assigned to basil00

[2013-04-06 07:11] #1 closed, assigned to basil00

[2013-05-02 00:08] gilgil1973 opened #5 "thank you for your great product."
In document(WinDiver.html) > Samples,

if (handle == INVALID_HANDLE_VALUE);

semicolon shoud be removed. :)

[2013-05-02 03:11] #5 closed, assigned to nobody

[2013-06-12 12:18] basil00 opened #6 "WinDivert FORWARD layer problems."
The WinDivert FORWARD layer was never properly tested.  We have found the following bugs:
1) The add->IfIdx value returned by DivertRecv() is garbage.
2) Any attempt to inject a packet on the FORWARD layer fails with error code 87 (ERROR_INVALID_PARAMETER)

Both of these are bugs in the WinDivert driver.  The non-FORWARD layer is not affected.

[2013-06-25 12:00] #6 closed, assigned to basil00

[2013-11-29 10:54] gilgil1973 opened #7 "isprint(packet[i]) runtime error in debug mode"
[Compile Envoronment]
VS2012 Debug Mode

[Source code]
netdump.c(line 230)

"if (isprint(packet[i]))"

It occurs "Expression: c >= -1 && c <= 255" debug assertion failed error.

In type castring variable from char into int, number of under -1 may be passed through stack.

I suggest you to modify your code as follows.

"if (isprint((unsigned char)packet[i]))"

Thank you in advance.

[2013-11-30 04:58] #7 closed, assigned to nobody

[2013-12-02 11:48] basil00 opened #8 "Unload = BSOD"
Unloading the driver can lead to a BSOD.  This appears to only affect the 32-bit version of the driver.  The Minidump reveals that the driver crashes in the windivert_unload() function during the NdisFreeNetBufferPool() call.

[2013-12-03 00:17] #8 closed, assigned to basil00

[2013-12-09 15:33] ppaulojr opened #9 "Expose process id in userland"
One interesting feature would be to expose the process id in userland. This is useful in Windows when you want to block traffic coming from one specific application.

[2013-12-10 03:27] #9 closed, assigned to nobody

[2014-01-07 18:32] alexliyu opened #10 "im very love this project！but diffculty upgrade to wdk8.1"
this is a great project！i like it very much.
but it diffculty to upgrade vs2013+wdk8.1

please give some version for vs2012+wdk8.1？
thanks

[2014-01-08 03:21] #10 closed, assigned to nobody

[2014-01-16 07:49] gilgil1973 opened #11 "I've added your product into my open source project(version 1.1.2-rc)."
Hi, basio00. I've added your product into my open source project.

[source code]
https://github.com/gilgil1973/snoop90/blob/master/include/capture/snoopwindivert.h
https://github.com/gilgil1973/snoop90/blob/master/include/capture/snoopwindivert.cpp

[sample demo video]
http://www.snoopspy.com/743

Thank you, again.

[2014-01-16 07:49] #11 closed, assigned to nobody

[2014-02-25 00:05] alexliyu opened #12 "always get 592 errors"
in windows 2012 64bit system：

if (!WinDivertSend(handle, (PVOID)dnr, icmp_length, &send_addr,
                    NULL))
                {
                    fprintf(stderr, "warning: failed to send ICMP message "
                        "(%d)\n", GetLastError());
                }

in newfilter demo。
here always get 592 errors。

and in win7 64bit system

// Re-inject the matching packet.

[2014-02-25 04:46] #12 closed, assigned to nobody

[2014-03-14 04:47] alexliyu opened #13 "how to use kernel-mode filter?"
i will use it in my server for filter stream udp packet.
at this server,normal 1gbps/s data traffic

so,how to use kernel-mode filter?
maybe it is high-performance？
is right？
and how to？

[2014-03-15 10:45] #13 closed, assigned to nobody

[2014-03-15 10:59] basil00 opened #14 "Outbound TCP missing packets."
(reported via email).

WinDivert seems to lose some outbound TCP packets.  This shows up as "TCP previous segment not captured" errors in wireshark, and can cause TCP re-transmission (& slowing down the connection, sometimes significantly).

Preliminary investigation indicates that the missing packets are not even sent to WinDiverts WFP callout function.  Investigation continues...

[2014-03-15 11:02] basil00 opened #15 "Lost Network with WinDivert-1.1.2-rc"
(reported via email)

Networking sometimes disappears when using WinDivert-1.1.2-rc.  It appears that WinDivert-1.1.1 is unaffected.  Investigation continues...

[2014-03-23 21:46] jpippy opened #16 "Modifying packet?"
Hi there, just wan't to begin and say great project. I am sorry to post this into your issue tracker, but I wasn't sure where else to post it. How can I modify a packets sender information, such as mac and Ip address?

I want to listen for a certain outbound packet my application sends and then intercept the packet before it is sent out and change the source ip and mac and reinject it. I havent se

[2014-03-24 01:08] #16 closed, assigned to nobody

[2014-03-24 10:00] #14 closed, assigned to basil00

[2014-03-26 03:39] gilgil1973 opened #17 "WinDivert passthru problem"
Hi, basil. I am gilgil. ;)
While making use of WinDivert dll, I met something unknown. Here is a test.

[Test Case 1]

While calling netdump command,  I can see SYN/RST packets when I try to connect to 127.0.0.1:23.
netdump "tcp.SrcPort==23 tcp.DstPort==23"

While calling passthru command, I can not see any packets.
passthru "tcp.SrcPort==23 tcp.DstPort==23"

[Test Case 2]

Firefox application com

[2014-04-02 10:31] gilgil1973 opened #18 "System crashes when addr is NULL in WinDivertSend function"
passthru.c 111 line

[from]
if (!WinDivertSend(handle, packet, packet_len, &addr, NULL))
[to]
if (!WinDivertSend(handle, packet, packet_len, NULL, NULL))

When WinDivertSend is called, system crashes(blue screen).

[2014-04-02 11:46] #18 closed, assigned to basil00

[2014-05-05 03:14] #15 closed, assigned to basil00

[2014-05-14 06:30] vinayakkg opened #19 "Forward Layer filtering not working with windivert 1.1.2"
Hi ,
  Previously i was using windivert 1.0 in my application for filtering packets in forward layer.When i changed to 1.1.2 i am unable to filter packets in forward layer.Previously i set priority as -31768 and layer as  forward for getting packets from forward layer but now i am unable to divert open with that priority.Even if i set the -1000 priority and layer as forward still i am unable to ge

[2014-05-19 10:48] ismail opened #20 "Diverting HTTPS requests"
Hi,

Using the following code I cannot even log the HTTPS requests:

[code]

Is this maybe unsupported or I am missing something?

(This is with webfilter example)

[2014-05-19 11:23] #20 closed, assigned to nobody

[2014-05-27 09:01] #19 closed, assigned to basil00

[2014-05-30 08:09] handan03 opened #21 "WinDivert 32bit not a valid Win32 Application - error code 127"
Hi

When I run netdump true or net filter in cmd, I get "not a Valid Win32 Application".
![windivert1](https://cloud.githubusercontent.com/assets/6484242/3128187/2f0bc108-e7cf-11e3-83fb-a29582a40a74.jpg)  - this is the cmd typing in netdump true

![windivert2](https://cloud.githubusercontent.com/assets/6484242/3128189/34c12dd6-e7cf-11e3-9006-0f57a3374075.jpg)  - this is the result of typing in net

[2014-07-11 10:58] #21 closed, assigned to nobody

[2014-07-29 14:21] yiwiz-sai opened #23 "get PID of a packet"
Hi,
I want to get the PID of a packet,  "FWPS_INCOMING_METADATA_VALUES0_" is useful, according to DDK document:

typedef struct FWPS_INCOMING_METADATA_VALUES0_ {
...
  FWP_BYTE_BLOB  *processPath;
  UINT64  token;
  UINT64  processId;
...
} FWPS_INCOMING_METADATA_VALUES0;

could Divert provide with related interface? Thanks~

[2014-07-30 11:36] #23 closed, assigned to nobody

[2014-08-04 06:29] Eun opened #24 "WinDivertGetDriverFileName: Current Directory"
Using a different working directory causing a invalid install path for the DivertService.

Instead of using `GetCurrentDirectory` (which gets the current working directory) you should use `GetModuleFileName` and get the directory from there.

Example of Problem:
Files in `c:\test\`:

[code]

running `test.exe` in `c:\test` -> everything ok
running `test.exe` in `c:\` -> cannot install service, bec

[2014-08-09 01:33] soybeanmeal opened #25 "How to capture ethernet header? Dst and Src MAC?"
When it's a loopback packet, e.g. from 127.0.0.1 (Mac 0x2) to 127.0.0.1(Mac 0x1) ,it's inbound, but addr.Direction is always outbound. That's why I wanna to check the Dst and Src MAC.

I can see the mac via Commview.

It's useful when using client and server on the same machine.

[2014-08-11 05:39] #25 closed, assigned to nobody

[2014-08-15 10:18] #24 closed, assigned to nobody

[2014-10-24 17:49] PhyxionNL opened #26 "x64 build and ipv6 only filtering hangs on WinDivertOpen"
With the MSVC build (same problem with WDDK):

HANDLE handle = WinDivertOpen("ipv6", WINDIVERT_LAYER_NETWORK, 0 ,0L);

This freezes with an x64 build (in fact, Visual Studio sometimes crashes with this command), whereas it does work with an x86 build? I used the proper files for the x64 build, running under Visual Studio 2012 and 2013. I also tried older versions of WinDivert (1.1.4 and 1.1.5) and

[2014-10-27 14:54] ktsinfotech opened #27 "WinDivert IE Performance Problem."
If any application of Win Divert other than Promiscus mode based application is running , then Internet Explorer Based Page loading is very Slow. All other Browasers , it is OK. Any idea on this?

[2014-10-29 19:53] rafael-santiago opened #28 "WinDivert dropping IPv6 packets."
Hi!

I was testing the webfilter sample changing the filter from "outbound && **ip** && tcp.DstPort == 80 && tcp.PayloadLength > 0" to "outbound && **ipv6** && tcp.DstPort == 80 && tcp.PayloadLength > 0" and IPv6 packets were dropped in some specific cases.

Steps to reproduce this behaviour:
- Install xampp: https://www.apachefriends.org/pt_br/index.html.
- Configure an IPv6 interface on Virtual/

[2014-11-07 16:57] MarlosChida opened #29 "DLL IPv6 CheckSum Calculation"
Basil, I know there is an issue (#28) already opened regarding IPv6 and CheckSum calculations, but as you discuss driver code in that issue I decided to open a new one so we don't mix subjects.

I was porting the Webfilter sample to use IPv6, and noticed that, when I call the function "WinDivertHelperCalcChecksums()", even for unchanged packets, the packet checksum is invalid.

I verified that the

[2014-11-08 07:18] #29 closed, assigned to basil00

[2014-11-13 10:53] #28 closed, assigned to basil00

[2014-11-14 15:22] PhyxionNL opened #30 "Use WinDivertSend on different interface"
Is there any way to force the WinDivertSend function to inject an outbound packet on a specific interface? On the documentation page it states _For outbound injected packets, the IfIdx and SubIfIdx fields are currently ignored and may be arbitrary values._

Is there any workaround for this, or that it is actually accepting the IfIdx and SubIfIdx fields as stated? We need to send packets on a speci

[2014-11-14 16:16] oubliette32 opened #31 "WinDivertSend is slow"
I've a problem as I'm currently writing a firewall for a certain piece of software that's vulnerable to UDP attacks.

My fix for the exploit involved sending cached UDP packets using WinDivert, however WinDivertSend seems to cause quite a lot of performance drag.

I found that using WinDivertSend to reinject original UDP packets isn't slow, however sending packets with modified source & destinatio

[2014-11-14 17:11] #30 closed, assigned to nobody

[2014-11-17 15:25] #31 closed, assigned to nobody

[2014-11-25 14:59] sijmonh opened #32 "Inbound port 80 not capturing"
WinDivert does not seem to capture traffic inbound on port 80 when the destination address is not that of the capturing/sniffing computer.

I'm trying to capture all incoming packets and redirect/filter them with the ultimate goal of making a software only router that can be run on a laptop or pc. For example, we have a computer sharing its internet via a hosted (wireless) network with a laptop. T

[2014-11-28 14:16] #32 closed, assigned to nobody

[2014-12-19 21:24] eylonR opened #34 "Capturing packets that aren't targeting the local machine?"
Hi,

Is it possible with WinDivert to receive packets with source ip A and destination B, while I'm C but the packet was in the NIC?

I don't want to configure Windows as a router, and open an NETWORK _FORWARD layer handle.

Thanks!

[2014-12-27 11:11] eylonR opened #35 "Non-blocking use of WinDivertRecv"
Is there a way to use the WinDivertRecv API function in a non-blocking way, synchronously?

I need not to use any threads or IOCP methods, but want the flow to continue also if there's nothing to receive.

I tried to use the standard select() method to determine if there's something to read from the handle before using the receive function, but it seems to work only with regular sockets.

[2014-12-28 11:22] #34 closed, assigned to nobody

[2014-12-28 11:33] #35 closed, assigned to nobody

[2014-12-29 17:56] marianogenovese opened #36 "Switch Port mirroring"
There are any restriccions using windivert (v1.1.7) connected to a switch with port mirroring? because i'm using an app with windivert and dont receive any package. I'm also using a app with winpcap and with this application the packets are received.

[2015-01-02 15:37] ianbannerman commented on #34
This explains what I am seeing. Windows NAT is on (via Internet Connection Sharing or bridging connections) and then I see packets on the outbound path. I *don't* see these packets on the forward layer in this case. Thank you for the clarification & information basil!

[2015-01-03 02:46] basil00 commented on #36
There should not be any problem.  Are you using the FORWARD layer?

[2015-01-03 02:50] basil00 commented on #34
@eylonR It is really up to you to ensure the program does not crash.  If the filter is security critical, then there may be some defensive programming techniques to guard against crashing: e.g. run the filter in a separate process, restarting the filter on crash, or insert "safety net" filters with a lower priority using a different process, etc.

[2015-01-03 03:11] basil00 opened #37 "WinDivert 1.2 wishlist"
Here are some ideas for WinDivert1.2 in 2015:

* Extend WinDivertRecvEx() and WinDivertSendEx() so that they can receive/send multiple packets at once.  For example, by passing in a special flag to WinDivertRecvEx(), the driver will fill the buffer with as many packets that (a) will fit, and (b) are available.  Likewise, via a special flag, the buffer passed to WinDivertSend() can contain several

[2015-01-03 15:52] marianogenovese commented on #36
Im using WINDIVERT_LAYER_NETWORK and WINDIVERT_FLAG_SNIFF as arguments in open function.

[2015-01-03 15:58] eylonR commented on #34
Maybe enabling Windows NAT is also an option or it can make other security flaws? The forwarding feature for example is yes or no.

[2015-01-03 16:04] eylonR commented on #37
I really really hope for a way to capture packets that are not targeting the local machine, without the requirement to enable the packet forwarding option on Windows. If it's not that hard, I also can try to help developing it.

[2015-01-05 02:55] basil00 commented on #37
@eylonR What do you mean "enable the packet forwarding option on Windows"?  This does not seem related to WinDivert.

[2015-01-05 02:59] basil00 commented on #36
I do not know.  Winpcap should not affect WinDivert.  You may need to post more information.

[2015-01-05 06:12] eylonR commented on #37
I mean that I hope for a way to capture packets that aren't targeting the local IP address without using the forwarding layer, which is risky when the user-space app failed.

[2015-01-05 06:49] basil00 commented on #37
I probably still do not understand.  Any WinDivert filter installed by a program is removed once the program terminates (including if it crashes).  This doesn't have anything to do with the forward layer,.

[2015-01-05 06:53] eylonR commented on #37
But sometimes you want to capture packets that just passes the NIC, not only packets that targeted to your computer, something like promiscuous mode. In order to do that, you have to enable the Windows forwarding option and to use the forwarding layer.

[2015-01-05 07:25] basil00 commented on #37
WinDivert is all about packet blocking or filtering.  The only way to block a packet is if it is actually passing through your machine, and therefore you need to configure the machine as a router.

[2015-01-05 10:21] eylonR opened #38 "Does the driver and library codes support Visual Studio 2013?"
If yes, is it checked deeply?

[2015-01-05 13:20] ianbannerman commented on #37
Second suggestion is a great idea, the current style tripped me up initially as well.

Is it possible to support the network layer and forward layer without two WinDivertOpen calls?

Is it possible to support Layer 2 filtering? http://msdn.microsoft.com/en-us/library/windows/hardware/hh440262(v=vs.85).aspx

Please forgive me if any of these questions are obviously silly; I still have a lot to lear

[2015-01-05 16:23] marianogenovese commented on #36
Im using a pc "A" with Windows 8.1 with wireshark installed, this pc "A" is connected to a switch with port mirroring, the port where "A" is connected, is configured as receive port in the port mirroring switch configuration, therefore "A" receive a copy of all packages generated from another pc "B" connected to the same switch. Running a continuous ping in "B" and runing wireshark in "A" i see a

[2015-01-06 02:14] basil00 commented on #38
I am not sure what "checked deeply" means, so the answer is probably "no".

As for VS2013, currently I build with VS2012.  I am not sure if there a good reason to upgrade yet?  I am not a VS expert.

[2015-01-06 02:25] basil00 commented on #37
Thanks for the suggestions.

This was my original intention some time ago.  However, most applications do not care about forward packets so I think it is a good idea to keep them as a separate case.

I also want this.  However, WFP Layer 2 filtering is only supported on Windows 8 and later.   The other thing is that Layer 2 headers can already be derived from the IfIdx and the IP Helper API.  It i

[2015-01-09 02:58] basil00 commented on #36
Unfortunately I do not know the reason for this behavior.  I can only speculate that somehow the winpcap driver is changing something that is causing the packets to flow through the WFP forward (and/or inbound?) path.  Winpcap is a NDIS protocol driver, so it really should not affect WinDivert.

[2015-01-09 03:14] #38 closed

[2015-01-09 03:16] basil00 commented on #27
Close for now.  No specific problem was identified so there is no point leaving this issue open indefinitely.

[2015-01-09 03:16] #27 closed

[2015-01-09 14:11] marianogenovese commented on #36
I understand, but basically my question is using windivert alone without any instalation of winpcap windivert dont receive a copy of the packages generated by the switch.

Thx,

[2015-01-29 03:26] edlau2 opened #39 "Injecting with destination local IP address"
Is it possible using WinDivert to inject a modified packet by changing the destination IP to a valid local interface address? My goal is to intercept packets arriving from another PC and divert them to a local proxy server application. I can capture the packets from PC A, destined for PC C, on PC B, in the middle, and modify the packet accordingly. WinDivertSendEx(), return successfully, and the c

[2015-01-31 00:59] basil00 commented on #39
The way to do this is to open two WinDivert handles.  The first (with layer=NETWORK_FORWARD) is to intercept packets from the forward layer, and the second (with layer=NETWORK) is to inject the redirected packets towards the local machine.  Also the FwpsInjectTransport... function is for the transport layer, whereas WinDivert works at the network layer.

[2015-01-31 04:44] edlau2 commented on #39
Thanks basil, I had tried that before, and didn't think it had worked - it must have been a late night. My code to do just that was still in place, I uncommented it out and lo and behold it works. Next step is to get the correct filters in place for the return path, they are already constructed but using the forward layer so I'll have to change that I assume - it all makes sense now in hindsight.

[2015-01-31 05:19] basil00 commented on #39
Glad that is all worked out.

[2015-01-31 05:19] #39 closed

[2015-02-16 23:59] jtokarchuk opened #40 "DNS redirection"
hi there.

was hoping on getting a hand. I'd like to modify the Web filter project to instead redirect DNS requests in blacklist to 127.0.0.1 (to blacklist ssl sites)

was unsure how to proceed.  great product though!

[2015-02-17 03:38] basil00 commented on #40
Perhaps look at [Tallow](https://github.com/basil00/TorWall) which intercepts and replies to DNS requests.

If you want redirection you could capture the DNS packets, and forward the payload to a normal UDP socket bound to 127.0.0.1:53.  You also need to handle the reverse path.

[2015-02-17 03:38] #40 closed

[2015-03-17 23:30] mhils commented on #37
Let me add a late wish: Currently, the limitation section states that *the forward layer does not interact well with the Windows NAT. [..] As a general principle, you should not try and mix WinDivert at the forward layer with the Windows NAT implementation.*
Do you see any viable way (let it be Win8 only...) how one could work around this?

[2015-03-19 03:27] basil00 commented on #37
The fundamental problem is that both the NAT and WinDivert are trying to intercept the same packet and are therefore in competition.  I don't see a way around this.

[2015-03-20 15:48] ianbannerman commented on #37
Hey Basil! Question - what happens when we bump our filter weight as WinDivert above the Windows NAT filter weight? It seems like that would skate us straight through this competition for the packets.

The NATTraversal project ( http://www.rtsdd.ru/NATTraversal.aspx ) found that the NAT implementation in Windows uses a filter with weight of 0xFFFFFFFFFFFFFFFD. If we load WinDivert at weight E or F

[2015-03-20 16:22] basil00 commented on #37
The WinDivert priority does not affect the WFP sublayer weight (which determines whether WinDivert filters are collectively before or after the NAT).  WinDivert already inserts itself at the highest weight, so *should* see packets before the NAT.  It has been a while since I've looked at this though.

I think it is *possible* to combine WinDivert and the NAT -- the problem is that it requires reas

[2015-03-20 16:34] ianbannerman commented on #37
Maybe I've read the source incorrectly then? Looking at windivert_install_callout(), I see weight set as such:

weight = WINDIVERT_FILTER_WEIGHT(context->priority);

And then filled in the FWPM_FILTER0 struct as:
    filter.weight.type               = FWP_UINT64;
    filter.weight.uint64             = &weight;

But priority is a UINT32 value filled from a UINT16 passed in via WinDivertOpen, so mak

[2015-03-20 22:04] ianbannerman commented on #37
On further look, I'm not sure competition between WinDivert and the Windows NAT plays a role here. I recompiled the WinDivert driver with a 0xFFFFFFFFFFFFFFFF weight but did not notice a change in packets seen. But, I'm also not missing any packets. With the Windows NAT running (via ICS), and with this approximation of the network, this is where I see packets:

Traffic from things connected to the

[2015-03-21 03:34] basil00 commented on #37
It's confusing because there are two levels of weights: the WFP filter weight and the WFP sublayer weight.  Each sublayer contains several filters, and WinDivert and the NAT are each its own sublayer.  Therefore it is the sublayer weight that determines whether WinDivert or the NAT sees the packet first.  The filter weight (which corresponds to the WinDivert priority) merely determines the WFP fil

[2015-03-21 12:41] ianbannerman commented on #37
Ah, thank you!! That makes a lot of sense. Much appreciated :)

[2015-03-27 20:10] herossa opened #41 "Possible Confict with others WFP Solutions."
Test Environment: Windows 7 X86
- First Steps: configure the environment
  1 - Install thunderbird from https://www.mozilla.org/pt-BR/thunderbird/?icn=tabz
  2 - Configure email account using port 587 for smtp
  3 - Compile and install WFPSampler as described at https://code.msdn.microsoft.com/windowshardware/Windows-Filtering-Platform-27553baa#content
  4 - Configure WFPSampler using the command

[2015-03-29 10:06] Phyxion commented on #37
Just wanted to say that I'm fully behind making WINDIVERT_FLAG_NO_CHECKSUM the default.

[2015-03-30 03:02] basil00 commented on #41
Thanks for the report.  I was not aware of any problem so I will need to investigate.

[2015-04-03 02:58] basil00 commented on #41
I could not build WFPSampler, but I tried with a combination of WinDivert driver variants and got a similar result.  It seems that combining WinDivert/passthru with another WFP callout driver (that injects cloned packets) will cause packets to go into an infinite loop.

I will need to look more into this.

[2015-04-04 12:39] basil00 commented on #41
Assuming the above hypothesis is correct, it is not so clear that the problem can even be fixed.

To elaborate: the problem can be demonstrated with two network layer WFP callout drivers that do other than drop-and-clone the original packet (such as the WFPSampler and WinDivert's passthru).  Each driver inserts itself in a different WFP sublayer.

What happens is this:

1. A network packet (Packet

[2015-04-06 01:42] filipevserra commented on #41
Hi.
I did some changes on windivert.c to avoid this problem.
Before call FwpsCalloutRegister0 I've added the line:
filter.flags                     = FWPM_FILTER_FLAG_CLEAR_ACTION_RIGHT;
And in the windivert_classify_callout I've changed the if where has the INJECTED_BY_SELF check to:
if (packet_state == FWPS_PACKET_INJECTED_BY_SELF ||
        packet_state == FWPS_PACKET_PREVIOUSLY_INJECTED_BY_SEL

[2015-04-06 01:49] filipevserra opened #42 "Problems with AVs"
I'm having a issue when I try to use passthru with the AVG Internet Security and Avast.
Calling the passtrhu with the line:
passthru.exe "outbound and (ip || ipv6) and tcp and tcp.PayloadLength > 0" 1
with AVG installed and updated, I can't access any site anymore.
And with Avast, I can't access my e-mails through Thunderbird.

Analysing the windivert.c, I've notice that the callback for the funct

[2015-04-07 03:20] basil00 commented on #41
The relevant documentation is [here](https://msdn.microsoft.com/en-us/library/windows/desktop/aa364008%28v=vs.85%29.aspx).  It's been a while since I've looked at it.

I am not sure if "PERMIT" is correct.  WinDivert never "permits" traffic per se, rather the state of non-matching traffic should be as if WinDivert were never there.  Also maybe PERMIT may cause the traffic to skip other WinDivert f

[2015-04-07 03:24] basil00 commented on #42
Thanks for the report.  Could be related to #41 (the OP also mentioned AV software)?

C000021B means STATUS_DATA_NOT_ACCEPTED, which can be causing if the other driver is blocking the traffic, IIRC.  It can also be caused by other things.

[2015-04-07 11:21] filipevserra commented on #41
Hi. Thanks for your answer.
I agree with you. I don't think that PERMIT is correct either. We can PERMIT the package sometimes, but in this case PERMIT is not the expected.
In our case it prevents the infinite loop. This loop can't occur on our users machine and "block" all network communication. So, for the moment we took this changes as our best option. By the way it didn't prevents that the pac

[2015-04-07 11:26] filipevserra commented on #42
Hi.
Yes, it could be related.
I'm trying to contact the AV developers to give us a help with this problem.
I thing that maybe something in AVs WFP is blocking our packet reinjection.
In AVG I've opened an issue about this problem http://forums.avg.com/br-pt/avg-forums?sec=thread&act=show&id=8526#post_8526
In Avast we tried a contact by email, and they're analysing the problem too.
Thanks!

[2015-04-13 11:14] eylonR opened #43 "Possible problem with the NO_CHECKSUM flag"
Hi,

I'm trying to write a simple program that receives all UDP packets and send them out without changing (passthru-like).

Also, I don't want the driver to touch/modify the checksums so I put the NO_CHECKSUM flag.

Now, I tried to send an outbound datagram with regular UDP socket. However, the target machine received the packet with invalid UDP checksum (Not zero. and IP checksum was right) and

[2015-04-14 03:31] basil00 commented on #43
This is normal behavior.  It is up to the caller of WinDivertSend() to ensure the packet has correct checksums.  This is actually a requirement of the underlying WFP packet injection functions on which WinDivertSend() is built.

Ideally there would be a way to enable checksum offloading for injected packets.  Maybe there is a way but I am not aware of it.

So in your example: the driver does not c

[2015-04-14 03:31] #43 closed

[2015-05-09 18:13] eylonR commented on #43
Sorry for the late answer.
Why we have to call the WinDivertHelperCalcChecksums()?
The original packet is created by a regular OS socket, that anyway calculates a checksum.
As I said, without WinDivert the packet is delivered correctly, so the original checksum is okay.

[2015-05-10 07:09] basil00 commented on #43
Usually (but not always) WinDivert receives outbound packets before Windows has calculated the checksum.  This is actually for efficiency, Google "checksum offloading" for more information.  As a consequence, the checksums may or may not be valid when the NO_CHECKSUM flag is specified.

For some reason Windows also requires injected packets to have valid checksums, regardless of the checksum offlo

[2015-05-10 07:15] eylonR commented on #43
So, there is no way to determine if the original checksum is correct in user-space?
In that case, we may be reinject malformed packets without knowing that, don't we?

[2015-05-10 07:49] basil00 commented on #43
No, there is currently no way.  This is a weakness in the API.  However, it is usually not so serious as most applications intend to modify the packets, so need to recalculate the checksums anyway.

[2015-05-22 06:55] basil00 commented on #42
From the recent  AVG release notes (2015.5961 HOT FIX 5):

So the problem has been fixed I assume.

Also anyone know what the Banco do Brasil software is?

[2015-05-22 06:55] #42 closed

[2015-05-22 11:37] filipevserra commented on #42
Banco do Brasil has a security module called Warsaw that made use of Windivert.
https://seg.bb.com.br/home.html#en

[2015-06-03 10:00] basil00 commented on #37
I am finally working on WinDivert again...

Some additional ideas I've been thinking about and prototyping:

* Extending the WinDivert helper API with functions for compiling an evaluating filter strings.  The idea is that these functions can be used to check whether a filter string is valid, and if not, can return the cause of the error, e.g. "bad token", "syntax error" at position X.  Currently

[2015-06-03 10:04] Phyxion commented on #37
Great to hear @basil00!

I'm not convinced that the first point belongs in an API, this is more up to the developer to write correctly. The other point sounds great :+1:

[2015-06-04 00:08] basil00 commented on #37
Some applications (such as Tallow, clumsy, etc.) employ user configurable filter strings.  It will be useful to report meaningful error messages back to the user if they write an invalid filter.

[2015-06-04 07:54] Phyxion commented on #37
I understand but I think it should belong in those applications rather than in WinDivert as it's not very useful for WinDivert itself.

[2015-06-19 22:04] TechnikEmpire commented on #37
Hey basil, thanks for the great lib first of all. Can I make a wish? :p would it be possible to an addition to the examples demonstrating the *Ex functions? I've seen a lot of discussion of people requesting use of them in libs that use windivert but can't find an implementation using them anywhere.

[2015-06-20 04:21] basil00 commented on #37
The WinDivertRecvEx() function is used by test/test.c at least.

[2015-06-20 04:38] TechnikEmpire commented on #37
Thanks dude, I've never really stepped outside of ::asio for network programming, so I wanted to see it in action. :)

[2015-06-21 04:51] basil00 commented on #37
The new filter compiler + extensions has been committed to the repository.  Note however this is still a work-in-progress and has not been well tested.

[2015-06-23 18:04] Phyxion commented on #37
Looking good! Thanks @basil00.

[2015-07-03 13:02] basil00 commented on #37
The checksums idea has been implemented.

The send()/recv() multiple packets idea seems like it is non-trivial to implement.  So I think it will be deferred to WinDivert1.3.

[2015-07-03 13:13] Phyxion commented on #37
Thank you very much @basil00.
Could you give some examples of the new filter? Also, will all the old filters still work? With the latest version (the signed / compiled one) I still have https://github.com/basil00/Divert/issues/26 this issue, perhaps this new filter would help?

With Windows 10 around the corner, maybe it'll be nice for 1.2 to ensure compatibility with it.

[2015-07-03 13:36] basil00 commented on #37
WinDivert1.2 is not quite ready yet.  Still need to bump the version, test and debug, update the documentation, then release WinDivert1.2.0-rc.  After a few months with no complaints, release the non-RC version WinDivert1.2.1.

The old filters will still work.  WinDivert 1.2 will be backwards compatible with the exception that WinDivertRecv() will no longer guarantee packets have correct checksums

[2015-07-10 02:37] TechnikEmpire commented on #26
I can confirm that, with VS 2013 pro, I cannot be debugging any program at all while I have my app that uses WinDivert running. You're not remote debugging, but there is definitely something the debugger + dev environment is doing that relies on network traffic which, when interrupted, causes the debugger process to "hang" and VS will notify you of this, giving you only the option to terminate it.

[2015-07-10 08:30] Phyxion commented on #26
@TechnikEmpire Your issue sounds very different from what I describe. The x86 dll works fine, only the x64 causes problems (and only with ipv6 traffic).

[2015-07-10 18:36] TechnikEmpire commented on #26
Can you upload those videos to youtube? You could just make them unlisted so they only appear here and people that aren't comfortable downloading files from peoples personal servers could view them.

[2015-07-10 18:39] Phyxion commented on #26
It's dropbox and mp4 :)

[2015-07-10 18:42] TechnikEmpire commented on #26
But I'm scurred.

[2015-07-11 09:54] basil00 commented on #26
It should be possible to use the `netdump` tool to see what (if any) traffic the VS debugger is generating.

[2015-07-11 21:30] dmdo opened #44 "Driver signature issue on Windows 10"
Hello,

Thank you for the awesome software!

I've tried to re-sign drivers with own certificate. We are using both SHA-1 and SHA-256 signatures at the same time in the single file.
This type of signature works fine on Windows 8 and Windows 7. But on Windows 10 (10162) we see 577 error on Windivert Open.

What it could be?

Thank you.

[2015-07-12 00:15] basil00 commented on #44
A quick Google search finds this: http://blogs.msdn.com/b/windows_hardware_certification/archive/2015/04/01/driver-signing-changes-in-windows-10.aspx

This is not good.  It appears Microsoft are once again severely restricting the driver signing process under the guise of security.  This may affect WinDivert and Windows 10 support.

[2015-07-14 14:15] Phyxion opened #45 "WinDivertSendEx / WinDivertRecvEx"
I only tested the WinDivertSendEx method.

I'm trying to get these functions to work in C# and I'm having trouble with them. When I add the overlapped parameter (with the event set), I never have to wait (e.g., with WaitForSingleObject, or with the ManualResetEvent as the C# equivalent) as the event always seems signaled immediately after I call the method.

I expected this behavior:

Do these met

[2015-07-15 18:16] dmdo commented on #44
Hello,
It turned out to be issue with our signing processes. We have fixed that and now all works fine in Windows 10.

Thank you again for the great software!

[2015-07-15 18:16] #44 closed

[2015-07-16 07:51] Phyxion commented on #44
I know you closed this, but it might be an issue in the future:

If I read it correctly, drivers signed 90 days after the release of Windows 10 needs to go through the Microsoft portal with an EV certificate. @basil00, which certificate is used to sign the current binaries?

[2015-07-16 09:27] basil00 commented on #44
The driver is normally signed by Nemea software.  I do not think they have EV or if they plan to get it.

I am aiming to have the 1.2 version of the driver signed by Nemea before the Windows 10 release date (29th of July).  This version should work for Windows 10 thanks to backwards compatibility, but it will not be possible to sign the driver after that.

The driver is stable, so hopefully this w

[2015-07-16 09:30] basil00 commented on #45
The WinDivertWSendEx() and WinDivertRecvEx() functions are actually thin wrappers around the WinAPI DeviceIoControl() function, so should inherit the same semantics.

What is the reason for not waiting, e.g. error or data available?  If it's an error, which error?

[2015-07-16 09:34] Phyxion commented on #44
Thank you for the information @basil00, I appreciate it. They have a point for security reasons although I think that the EV certificates are very expensive and severly impact open source projects such as this. It would be nice if Microsoft added an exception for open source projects, for which they were to supply a certificate.

[2015-07-16 09:52] Phyxion commented on #45
I'm making the application multithreaded and the WinDivertRecv / WinDivertSend function weren't that great for the performance. When I switched to WinDivertSendEx (with a useless Overlapped object so no waiting at all) the CPU usage went from ~50% to ~3% while increasing the throughput.

The event/wait for the Send method doesn't seem very useful to me, but for Recv you of course need it. If I wer

[2015-07-16 20:49] TechnikEmpire commented on #45
My 2 cents: I find this post confusing. You're saying you gained huge performance savings by switching to EX functions but that it's not useful, and you assume there's a bug because you never seem to have to wait for the async call. Showing some code, error #'s etc might help solve the confusion.

[2015-07-17 07:03] Phyxion commented on #45
@TechnikEmpire You should really read my post better.

[2015-07-17 10:40] basil00 commented on #45
I am not sure what the problem is.

Are you using one OVERLAPPED structure & event object per call to WinDivertRecvEx()?  If not, then you may see the symptoms you describe.  ([reference](https://msdn.microsoft.com/en-us/library/ms686358(v=vs.85).aspx))

[2015-07-17 11:31] Phyxion commented on #45
Yeah, I use one. I'll check that page, it looks like there is some useful information in it.

[2015-07-17 11:32] TechnikEmpire commented on #45
@Phyxion To quote basil - "I am not sure what the problem is." So blaming my reading skills doesn't really work. Sounds to me like you're describing a perceived phantom (non-existent) problem due to a lack of understanding.

[2015-07-17 11:39] edlau2 commented on #45
Basil -

If it helps, I am using WinDivert w/the Ex functions with no problems - basically as a NAT router. I can provide some simple samples that illustrate two things- the ability to trap traffic from devices not on the local machine as well as using I/O completion ports. I use both with no issues. To the posters question, sometimes receives complete immediately, so that has to be handled - but

[2015-07-17 11:50] Phyxion commented on #45
@TechnikEmpire
The problem:

I then tried the BindIoCompletionCallback which does seem to work most of the times. With the discription from @edlau2 I found why it didn't always work, it sometimes indeed seems to complete immediately. I didn't expect this and changed a few lines of code and the BindIoCompletionCallback seems to work OK now.

About your useful statement:

I'm not saying that these m

[2015-07-17 12:01] TechnikEmpire commented on #45
@Phyxion I'm gonna ignore the rudeness and just point out where you're wrong and why I said this whole thread makes no sense. Of course sometimes your async recv (EX) return immediately, because it's more than reasonable to assume that a packet could be coming in and getting caught up by your filter so close to your wait call, that it's can only be perceived as immediate.

As for "All I'm saying i

[2015-07-17 12:27] Phyxion commented on #45
My apologies, I didn't mean any harm but it's just that you seem to skip over all the points I'm making. To give you some insight, I implemented overlapped in ReadFile/WriteFile a while ago and this was acting differently (in C# the [IOCompletionCallback](https://msdn.microsoft.com/en-us/library/a059s071%28v=vs.110%29.aspx) for it worked but not with WinDivert) and as I've never used these overlap

[2015-07-17 13:12] TechnikEmpire commented on #45
@Phyxion Text communication sucks, lets chalk it up to that. Basil helped me by pointing me to the use of RecvEx here. https://github.com/basil00/Divert/blob/master/test/test.c around line 304. Not sure if that will help, for me it always makes it crystal clear when I just see something in action in the wild.

[2015-07-19 19:00] dmdo commented on #44
We are in processes of getting EV code sign cert for our company. If we get it, I think we will find a way to sign WinDivert. @basil00, send me a PM if you are interested.

[2015-07-20 07:15] Phyxion commented on #44
There are no PMs on GitHub anymore @dmdo.

[2015-07-20 10:53] basil00 commented on #44
@dmdo Yes I would be interested.  Please contact me via email (basil at reqrypt dot org).

[2015-07-23 23:43] antonsviridenko opened #46 "Updating filter expression in realtime"
Hi

Is WinDivert well-suited for this use case?

For example, there are two open handles, one in sniffing mode for incoming DNS replies and second for HTTP packets. Userspace application analyzes DNS packets and decides to update HTTP filter rule (whitelisting/blacklisting, etc). Can I expect that closing existing HTTP filter handle and opening new one with updated filter expression will be comple

[2015-07-24 05:26] antonsviridenko opened #47 "Filter string length limit"
https://github.com/basil00/Divert/blob/master/include/windivert_device.h#L118

#define WINDIVERT_FILTER_MAXLEN                     128

value 128 is too small, I propose to support arbitrary length filter strings or at least make this limit configurable in runtime

[2015-07-24 05:41] antonsviridenko commented on #47
Will it work with custom built driver with WINDIVERT_FILTER_MAXLEN value changed to something like 1024 - 4096?

[2015-07-24 10:00] basil00 commented on #47
This is deliberate.  Filters should be as short as possible since WFP callouts should be as fast a possible. Complicated filtering (such as IP blacklists) should be done in userspace.

[2015-07-24 10:00] #47 closed

[2015-07-24 10:05] basil00 commented on #46
There is currently no way to update filters once a handle has been opened.  Implementing such a feature would be relatively complicated and the benefits would be marginal, so it is probably not worth it.  Much of the overhead (filter compilation) is unavoidable either way.

[2015-07-24 10:05] #46 closed

[2015-07-25 15:42] basil00 commented on #37
All planned WinDivert1.2 have been implemented.  I will run some tests and release within the week.

In lieu of dropping WINDIVERT_FLAG_NO_CHECKSUM support, I also added the following:

* The driver ensures that checksum fields are either valid or zero.
* A new WINDIVERT_HELPER_NO_REPLACE flag for WinDivertHelperCalcChecksums().  If enabled, only zero'ed checksum fields will be replaced.

The comb

[2015-07-25 16:52] Phyxion commented on #37
That's a very nice feature @basil00, thank you very much for adding it.

Are ipv6 packets with extension headers now also supported with the new filter or is it just the syntax?

[2015-07-27 14:50] basil00 commented on #37
WinDivert Version 1.2.0-rc is now available [here](https://github.com/basil00/Divert/releases).

Keep in mind this is a "release candidate".  So although the new version passes all tests, there may be some new bugs introduced since version 1.1.7.

I also plan a WinDivert 1.1.8 bugfix release in the next few days.

[2015-07-27 14:56] Phyxion commented on #37
Is the RC signed as well @basil00?

What will 1.1.8 fix? Thanks :+1:

[2015-07-27 15:01] basil00 commented on #37
The drivers are signed by Nemea as usual.  They should work for Windows 10 but this has not been tested.  Version 1.1.8 will fix two minor bugs: the handling on ip.TOS and IPv6 comparison bug in the filter interpreter

[2015-07-27 15:03] Phyxion commented on #37
I'll make a Windows 10 install soon after official release (29th) and do some testing. If there is anything in specific you'd like tested, please let me know.

[2015-07-28 01:57] basil00 commented on #37
Thanks @Phyxion.  If any of the sample problems (e.g. netdump) work under Windows 10, then the new driver should be compatible.

[2015-07-28 03:21] TechnikEmpire commented on #37
I have multiple PC's getting the 10 upgrade. Will test when I get it. Thanks again @basil00 .

[2015-07-29 15:03] basil00 commented on #37
Version 1.1.8 and 1.2.0-rc are now officially released and on [the website](https://reqrypt.org/windivert.html).  Time to close this issue.  Thanks to all who contributed.

If there are any further problems then please open a separate issue.

[2015-07-29 15:03] #37 closed

[2015-07-30 16:12] codeyash opened #48 "How to build sys"
build.exe is not found in latest WDK kit. I'm new to this.

I'm building a simple app using your awesome library. Can you guide how to build driver?

DLL I able to build easily. Facing problem is in sys.

[2015-07-30 18:18] TechnikEmpire opened #49 "Windows 10 Issues"
So, I haven't quite narrowed down if this is indeed a WinDivert on Win 10 issue or not, but my transparent proxy driven by WinDivert is completely non-functional on Windows 10. Functional before upgrade, no changes to app code. All outbound connections just spin and timeout. Will report back when I get to the actual root of the issue.

[2015-07-30 18:24] TechnikEmpire commented on #49
Nevermind, some jackass changed the WinDivert flags incorrectly and forgot about it, causing the breakage. That jackass is me. :)

[2015-07-30 18:24] #49 closed

[2015-07-31 03:22] basil00 commented on #49
Thanks for the report anyway.  So I take it that WinDivert works on Windows 10?

[2015-07-31 03:28] basil00 commented on #48
WinDivert exclusively uses Windows Driver Kit (WDK) Version 7.1.0.  This is mainly because (a) it's free, and (b) it generates a driver that does not depend on newer versions of the WDF framework.  The latter means that users would need to distribute a bloated "WDF co-installer" package in order for WinDivert to work on older versions of WIndows (including Windows 7).

[2015-07-31 03:28] #48 closed

[2015-07-31 06:05] TechnikEmpire commented on #49
Yeah everything seems to be working just fine.

[2015-07-31 08:34] #45 closed

[2015-07-31 10:56] basil00 commented on #49
That's good to know.  Thanks for testing it out.

[2015-08-01 19:49] TechnikEmpire commented on #49
Hey no problem, thanks for the lib. :) I upgraded to the 1.2 RC from 1.1.7 on Win 10 x64. Everything running smooth, no issues. Just thought I'd report that as well.

[2015-08-06 15:47] codeyash opened #50 "Get Application name"
How to get which application is requesting tcp connection i.e. sending/receiving packets.

If we can get like
tcpConnected( APPINFO)
tcpClosed( APPINFO)

That will awesome. Or If possible please give me few ideas/code to implement this.

[2015-08-07 01:22] TechnikEmpire commented on #50
This isn't something WinDivert provides or needs to provide. Windows has API's to do this. It's a lot of code. Post a question on StackOverflow because it's not a simple couple of lines of code in this case.

[2015-08-07 03:08] basil00 commented on #50
If you post on stackoverflow then please add a link here (so others with the same problem can find the solution).

As for WinDivert, the association with packets (or tcp connections) to processes (e.g. process ID) is the most requested feature.  I would implement it if it were possible, but AFAIK the Windows kernel does not associate process information to packets at the network layer.  I think th

[2015-08-07 03:08] #50 closed

[2015-08-07 03:28] TechnikEmpire commented on #50
I do this myself, it's easy and for TCP, you're safe to cache the result for a couple of seconds. This way you're not doing an expensive GetTcpTable2 call on every single packet. Will post some code.

[2015-08-07 03:36] TechnikEmpire commented on #50
Actually, if you want @basil00, I can fork, create a basic application-level firewall example in the examples directory that does precisely this, then do a pull request? Your call.

[2015-08-07 03:44] basil00 commented on #50
Thanks @TechnikEmpire.  Perhaps first describe the solution in this thread?

[2015-08-07 03:48] TechnikEmpire commented on #50
@basil00  Since Vista, the owning process is associated with any/all ports it has in use. https://msdn.microsoft.com/en-us/library/windows/desktop/bb485761(v=vs.85).aspx So you parse the headers in an incoming packet, then do a series of GetTcpTable2/GetExtendedUdpTable queries which return rows of ports in use and the described data structures described in the link. Once you've found your port, y

[2015-08-07 03:52] TechnikEmpire commented on #50
Note however that the last time I checked, mingw fails to define the additional dwOwningPid member of the structure. The struct is defined incorrectly, so you'll get errors with mingw using these calls.

[2015-08-07 04:01] TechnikEmpire commented on #50
Oh and one last thing, about race condition/caching. I use a simple hash table and a timeout period on TCP packets but you can, once you have the PID, subscribe to the closing event of the process, so you'll know precisely when your cached PID lookup has expired and that PID will be reassigned to something else. I just chose the hash table with a small timeout because it works just fine for my use

[2015-08-07 04:14] basil00 commented on #50
@TechnikEmpire This sounds like a reasonable solution and might help @codeyash.  It would be nice if a sample of this idea were publicly available in some form.  Even if not as an official WinDivert sample per se, it would be good to have something I can link to.

[2015-08-07 04:20] TechnikEmpire commented on #50
@basil00 I'll just whip up an example application, make my own repo for it and link back here.

[2015-08-08 05:14] TechnikEmpire commented on #17
I'm noticing issues when firefox starts up, getting 592 errors on WinDivertSend which causes firefox to have a very long startup. I have yet to dump information about the rejected packets but feel this might be a related issue. Only happens with FF.

[2015-08-08 06:03] TechnikEmpire commented on #17
Not related after all, was brought here through search by the fact that firefox was involved. Something to watch out for, since WinDivert can grab loopback packets, is to make sure you're not diverting those packets somewhere else. My proxy application was taking those loopback packets generated by firefox and trying to send them out on the network, which isn't allowed, hence 592 and firefox long

[2015-08-08 11:20] basil00 commented on #17
I never really figured out the cause of this issue anyway...
For a while I suspected it is related to [this](https://social.msdn.microsoft.com/Forums/en-US/c598a3d4-1b70-49b2-9d92-b95d0e51fe2e/loopback-recvreinjection-failing) (although that is for the transport, not network, layer), but never found anything conclusive.  It seems to suggest that you need to replace the 127.x.x.x IP address with a

[2015-08-17 12:02] antonsviridenko opened #51 "WinDivertOpen fails with error code 317"
[code]
GetLastError() returns 317 on Windows 7 32bit

according to MSDN, it is
https://msdn.microsoft.com/en-us/library/windows/desktop/ms681382%28v=vs.85%29.aspx
[code]

I searched WinDivert sources for ERROR_MR_MID_NOT_FOUND but found nothing

Do you have any idea what could be the reason of this error?

[2015-08-18 03:26] basil00 commented on #51
Thanks for the report.

That's a weird error.  Does it occur with different parameters to WinDivertOpen? Also, do the WinDivert sample programs work?  E.g. netfilter, netdump, passthru.

[2015-09-04 08:55] FCrane opened #52 "Performance impact?"
Hi!

I'm testing the passthru example with "true" and "8" as parameters (also tried 1) and it works fine. However, copying a file over the network that usually runs at about 90 MB/s slows down to 25 MB/s. CPU load of the passthru program is between 20 and 25%.

Does WinDivert really slow down network traffic that much? Can this be improved? Other solutions, like WinpkFilter, have a much smaller im

[2015-09-04 18:53] FCrane commented on #52
I've now tested this again and indeed the performance impact is huge. On a gigabit LAN, running the passthru example slows the network speed down to about 30%! I'm losing almost 70% of the network speed on a fast machine (Intel i7). The other network packet filter "WinpkFilter" does not show that issue. It lets the traffic pass at full speed with a fraction of the CPU load WinDivert uses...

Is Wi

[2015-09-04 21:42] TechnikEmpire commented on #52
@FCrane  No, it's not really that slow if you actually read the docs and learn how to program. Did you come here with a real bug with real benchmarks and a code sample that other parties can test to confirm or deny, or just to advertise WinpkFilter?

[2015-09-04 21:58] TechnikEmpire commented on #52
@FCrane Examples are examples, they're demonstrating one or two capabilities. They don't demonstrate how to program properly, or how to read the documentation and learn the most optimal way to code against the library for your particular use. No, WinDivert isn't slow if you're not writing slow code. I pass all traffic through my app with WinDivert and at peak the WinDivert portion of the code is t

[2015-09-05 05:35] basil00 commented on #52
Firstly, which version of WinDivert did you use?  Some of the older versions have performance problems that have been fixed.

These are my test results for WinDivert1.2.0-rc:

    direct         : inbound=206Mbps outbound=206Mbps
    passthru true 4: inbound=205Mbps outbound=178Mbps

200Mbps = ~25MB/s is less than your 90MB/s, and I have not yet tested anything higher.

There is a performance hit

[2015-09-05 06:44] FCrane commented on #52
I'm using WinDivert v1.18. It's a pity that it slows down gigabit networks, because otherwise it seems really great!

Maybe you can test it on a gigabit LAN to see yourself.

[2015-09-11 01:27] basil00 opened #53 "Driver Signing."
I am looking for a new sponsor for driver signing.  The high-level requirements are:

* Willing to sign new releases of the `WinDivert32.sys` and `WinDivert64.sys` driver (probably about 1-2 releases per year).
* Have an Extended Validation (“EV”) Code Signing Certificate as required by [Windows 10](http://blogs.msdn.com/b/windows_hardware_certification/archive/2015/04/01/driver-signing-changes-in

[2015-09-11 20:58] TechnikEmpire commented on #53
It's looking like I'm going to be getting an EV cert to sign WinDivert for my own purposes within the next month or so. It's not 100% but I'll contact you when I'm at that point.

[2015-09-12 01:16] basil00 commented on #53
That'd be great.  Please let me know one way or the other.

[2015-09-17 13:08] kelvinomolumo opened #54 "ICS and Windivert Forward Layer"
First of all thank you for this very useful lilbrary.
I am using WinDivert along with ICS (Internet Connection Sharing) to capture forwarded packets. i was having problem getting it work but after going through the issues posted here i got it to work somehow.
I opened a first handle to capture forward packets like this:
HANDLE forward_handle = WinDivertOpen("tcp.DstPort==80", WINDIVERT_LAYER_NETWO

[2015-09-17 13:23] ianbannerman commented on #54
Can you a minimal version of the code you're using? I'm successfully using ICS & WinDivert on a few projects of mine at the moment, so I'm sure we can figure this out!

I'm still seeing & capturing with what I shared in issue 37:
    Outbound traffic to external servers on WINDIVERT_NETWORK_LAYER_FORWARD
    Outbound traffic to Windows NAT itself (192.168.25.1) on WINDIVERT_NETWORK_LAYER
    Inbou

[2015-09-17 14:16] kelvinomolumo commented on #54
Ok so i want to blacklist some websites on the network. windivert sits in the ICS machine. then monitors the traffic on port 80 (have not implemented on port 443 yet). Because of ICS the packets are only visible on the forward layer. so i open a handle on the forward path then another handle to perform injection like this:

    Sample Code:
    Thread 1:

    forward_handle = WinDivertOpen(filter,

[2015-09-19 10:16] basil00 commented on #54
The `payloadLen` is the length of the payload, not the total length which is `packetLen`.  For bandwidth counting it is common practice to use the latter.  This is the only thing I could think of.

Also note that if you only want the `packetLen` then you can use:

    WinDivertRecv(bandwidth_handle, NULL, 0, NULL, &packetLen)

This saves copying the packet from kernel -> user space.

[2015-09-19 15:04] kelvinomolumo commented on #54
@basil00 thanks so much. now its working very well. another little question the way am tackling the forward packet redirection, is it the correct way to deal with it? Because like i said after some time packets are no more modified. I thought it was the handle but after setting the params to 8192 and the time 2048 am still experiencing the same issue. Thanks!!!

[2015-09-21 02:30] basil00 commented on #54
I am not sure why some packets are not modified.  The first thing to find out is whether the packets are being captured or not.

[2015-09-25 06:07] kelvinomolumo commented on #54
@basil00 thanks for your help. i solved all the issues. it turned out the last issue was not from windivert but rather how my app was handling the captured packets. Thanks!!!

[2015-09-25 06:07] #54 closed

[2015-10-26 18:19] antonsviridenko commented on #51
Looks like error was caused by using different version of WinDivert DLL and driver, other than application was compiled with, sorry for delaying that report :)

[2015-10-26 18:19] #51 closed

[2015-10-28 07:10] dmitryyy commented on #12
I have the same error in webfilter example after some time (about several hours) of work.
But I have changed in this example "outbound" filter to "inbound".
In other words WinDivert can't inject inbound packets with not zero data length.
And this is big problem :(

[2015-10-28 11:01] basil00 commented on #12
The original sample already injects both inbound and outbound packets.  So if the original sample works, then WinDivert itself would not be the cause of the error.  A 592 error can also indicate an attempt to inject an invalid packet, e.g. wrong length, wrong checksum, wrong field values, etc., etc.

For inbound, you can use the netdump.exe sample to print injected packets.  Use a lower priority (

[2015-11-16 12:52] fahminlb33 opened #55 "C# Wrapper"
I'm wrapping this library in C#. I have trouble with WinDivertRecv method.

I always get 0 handle in ```packData``` .

[code]
And this is my P/Invoke signature
[code]

[2015-11-16 13:36] fahminlb33 commented on #55
Also, the last error code is 997 (ERROR_IO_PENDING) but I'm not using WinDivertRecvEx.

[2015-11-17 01:22] basil00 commented on #55
I don't have anything more to add over what @TechnikEmpire said.

However, it is strange to get a 997 error for passing 3 null pointers.  Instead the call should just block until a packet is captured.

[2015-11-17 07:24] fahminlb33 commented on #55
So, I can't pass Null Pointer to WinDivertRecv method. But when I'm trying to pass allocated memory (using `Marshal.AllocHGlobal), I'm getting 998 (ERROR_NOACCESS). I'll post my new code ASAP.

[2015-11-17 07:32] TechnikEmpire commented on #55
A quick search of google yields http://stackoverflow.com/questions/19259171/windivert-1-0-5-divertrecv-method-get-last-error-998. Someone already has tried what you're doing and had the same issue. That thread might be of value to you. I'd suggest if you have broken code, posting it on stackoverflow. I'm not speaking for everyone, just my opinion, but you're kind of outside of the scope of the pro

[2015-11-17 07:37] TechnikEmpire commented on #55
@fahminlb33 I've found my old C++/CLI wrapper for WinDivert. I'm just cleaning it up and splitting it into separate files (I had one huge header only implementation before). I should be done in a few hours tops, I'm pushing it here:

https://github.com/TechnikEmpire/Divert.Net

When I'm finished I'll build and publish a release and throw in an example of intercepting DNS packets and filtering DNS

[2015-11-17 08:33] fahminlb33 commented on #55
I'll waiting for your first release on Divert.Net
Also, I'll keep trying to figure out how to corectly marshall those Pointers in C#. :+1:

[2015-11-17 09:14] fahminlb33 commented on #55
My project's goal is to create "netdump" in C#

[2015-11-17 09:16] TechnikEmpire commented on #55
@fahminlb33 Alright, I'll see if I can easily replicate those tests. I'm almost done, just have to do UDP header then find a clean way to put the WinDivert free functions into a class (functions like Parse/Send/Recv etc).

[2015-11-17 09:47] fahminlb33 commented on #55
I'm also creating class wrapper. But when I'm test my class wrapper in Console app, it won't work. So, I decided to copy all PInvoke into new project and test them. But, no luck at WinDivertRecv call.

[2015-11-17 10:20] basil00 commented on #55
Great work @TechnikEmpire.  I've been asked several times for a C# binding but nobody has ever released one.

[2015-11-17 10:33] fahminlb33 commented on #55
Maybe I'll release it if I had successfully on this project.

[2015-11-17 17:33] TechnikEmpire commented on #55
@basil00 Thanks, you did all the hard work. :) Being a CLR library, this will provide bindings for all .NET languages like F#, VB.NET etc out of the box. I'll get a release and some tests published today. We talked briefly before about WinDivert being able to identify the process behind packet flows, I intend on integrating functionality that into the CLR library today too.

@fahminlb33 publishing

[2015-11-17 17:41] TechnikEmpire commented on #55
Errrr never mind I should finish my coffee before I start talking. Shouldn't be any binding, I was vaguely recalling mixing up dll and drivers for windivert :S

[2015-11-18 00:17] fahminlb33 commented on #55
I'm confused how to use WinDivert API because the documentation doesn't cover what expected argument to pass into the parameter. I'm hoping the documentation will cover anything like in MSDN.

[2015-11-18 00:31] TechnikEmpire commented on #55
@fahminlb33 The documentation has extensive remarks about what is required for the arguments, as well as the inner workings of the methods: https://reqrypt.org/windivert-doc.html#divert_recv

[2015-11-18 02:55] basil00 commented on #55
@TechnikEmpire, there is no problem distributing the Windivert binaries along with your release.

[2015-11-18 04:48] TechnikEmpire commented on #55
@basil00 Okay cool. Are you okay with me copying some snippets of documentation into comment sections of my code? I figured it'd be okay but I wanted to double check. I'm putting links back to the source in with such comments.

[2015-11-18 09:24] fahminlb33 commented on #55
@TechnikEmpire maybe I'm just misunderstand the documentation.
@basil00 as @TechnikEmpire said that he will copying documentation into comment sections of code, can I also copying the documentation into my wrapper (using XML Comments) and then create doc file using Sandcastle?

[2015-11-18 11:01] basil00 commented on #55
I don't mind you including snippets of the documentation.

[2015-11-18 14:35] TechnikEmpire commented on #55
@basil00  okay great. I have to write tests and such but I've got the general functionality of netdump working, printing out captured packet information in sniffing mode. Anyway I basically just wrote this from scratch instead of using my old code, so there's bound to be bugs. I'll keep working away at it and let you know when a release is ready.

[2015-11-22 09:55] fahminlb33 commented on #55
I have successfully received raw packet using `WinDivertRecv` but I can't parse the raw data. This is my code.

[code]

[2015-11-22 11:11] TechnikEmpire commented on #55
Reading the documentation will help you, a lot. `WinDivertHelperParsePacket` can return false in a valid situation. Don't even bother checking the return value of `WinDivertHelperParsePacket`, simply check the validity of the pointers you supplied to it.

https://reqrypt.org/windivert-doc.html#divert_helper_parse_packet

Quote: `Note that FALSE may sometimes be a legitimate return value, e.g., whe

[2015-11-22 11:26] TechnikEmpire commented on #42
FYI same type of conflict exists with Bitdefender firewall. Can't have anything that uses WinDivert running while the Bitdefender firewall is enabled. Doesn't matter much to me, just saw this thread and figured I'd notify.

[2015-11-22 21:00] kelvinomolumo opened #56 "WinDivert Forward Layer"
Hello everyone,
I have a problem and i really don't know how to go about it.  I want to block all packets from the forward layer. In windows 7 i did this by intercepting the response packet on the outbound path of the network layer. But in windows 8 and above this doesnt seem to work. I tried to open two handles like this:

WinDivertOpen(filter, forward_layer, 998, WINDIVERT_FLAG_SNIFF);

WinDiver

[2015-11-23 05:51] TechnikEmpire commented on #56
@kelvinomolumo Can you add more information, such as a small compilable example? I'm not clear on what you're asking. @basil00 will eventually pick this thread up and will probably know better than I. As it stands right now, all I can point out is that if you want to drop everything from the forward layer, why aren't you just opening the handle with WINDIVERT_FLAG_DROP? WINDIVERT_FLAG_SNIFF copies

[2015-11-23 08:32] TechnikEmpire commented on #19
@vinayakkg @basil00  I know this is an old thread, but I've implemented the capability to identify the process behind a single packet (inbound or outbound) in the .NET wrapper for WinDivert. Now, yes the wrapper is written in ugly M$ VC++, but the code inside the functions is using the plain C Win API. There are four of them for the combinations (IPV4+UDP, IPV6+UDP, IPV4+TCP, etc), they're all ove

[2015-11-23 13:00] ianbannerman commented on #56
This comment may help out - https://github.com/basil00/Divert/issues/37#issuecomment-84166301

Windows 8 changed which layer inbound traffic with the proper IP is seen on.

[2015-11-23 19:42] kelvinomolumo commented on #56
Sorry guys....now looking back at this my question I feel so st**id. Sorry for wasting your time. Thanks @TechnikEmpire  & @ianbannerman . Maybe its stress lol

[2015-11-23 19:42] #56 closed

[2015-11-23 21:07] brunoklein99 commented on #55
I keep getting `Cannot open include file: 'windivert.h': No such file or directory` when trying to compile the dll. Could you please add a `bin` folder with the proper binaries? Can't get simpler than that.

[2015-11-23 21:56] brunoklein99 opened #57 "Unable to capture traffic coming from other machines?"
I am trying to observe traffic from another machine in my network. I used the `netsh` command to change the arp table on my notebook and could successfully observe the traffic in Wireshark coming to my machine, but not in WinDivert.Net. This is my code: http://pastebin.com/9h7wLwsP. Is this behavior a WFP limitation?

[2015-11-24 01:09] basil00 commented on #57
WinDivert cannot see traffic captured by a NIC in promiscuous mode.  Wireshark does not have this limitation.  I am not sure about WFP in general.

For WinDivert it does not make sense to handle such traffic since there is no way to block or modify it.

[2015-11-24 01:09] #57 closed

[2015-11-24 01:31] basil00 commented on #19
Thanks @TechnikEmpire.  I wonder if there is a (theoretical?) data race between the TCP table and the process (e.g. if the process terminates).  I think this was the justification Microsoft used for not including process information directly in the Network layer for WFP.  Data race or not, such functionality is still useful enough for many applications.

[2015-11-24 02:41] TechnikEmpire commented on #19
@basil00 You're definitely going to see the situation you describe if you're trying to do this on packets sniffed rather than diverted and reinjected. Even I made this mistake in my C# example and I wrote the code! lol so it's easy to misuse.

However, in most cases, intercepting, then doing to the process query, then reinjecting will force the process to keep alive and listening for the data, so

[2015-11-24 02:59] TechnikEmpire commented on #56
@kelvinomolumo Never feel stupid, there's always things that we don't know which someone else does, that's how this works. :) No time wasted, no apology needed.

[2015-11-25 10:48] fahminlb33 commented on #55
Now I have a working method in C# wrapper for `WinDivertOpen`, `WinDivertRecv`, `WinDivertClose` and `WinDivertHelperParsePacket`. And I have completed my C# `netdump` implementation.

I'll soon commit it into my repo on GitHub : https://github.com/fahminlb33/SharpDivert

[2015-11-25 10:49] TechnikEmpire commented on #55
@fahminlb33 nice. :+1:

[2015-11-25 11:40] fahminlb33 commented on #55
I have a question about `WinDivertHelperParsePacket`. Do I need to release the pointers returned from `WinDivertHelperParsePacket` in .NET code? Like calling `Marshal.FreeHGlobal` or I can just ignore the returned pointers?

[2015-11-25 11:46] TechnikEmpire commented on #55
The only pointers you need to worry about deleting are the ones you create when you call `new` or `malloc`, or using the Marshal versions of either of those things. As far as the pointers you supply to WinDivertHelperParserPacket, the only pointer you created is for the buffer. Notice the other pointers are not just pointers, but rather pointers to pointers. WinDivert takes your pointers to pointe

[2015-11-25 11:48] fahminlb33 commented on #55
OK. thanks :+1:

[2015-11-26 09:11] TechnikEmpire commented on #55
@fahminlb33 Might be a good idea to close this issue now.

[2015-11-26 11:11] #55 closed

[2015-12-14 16:56] quantum1423 opened #58 "Filter based on application?"
Is the technically possible to divert traffic based on which application sent it? I looked through Tallow and it seems like it just assumes that ports 9001 etc are Tor, which isn't really true (a large number of Tor nodes actually run on port 443 to make it slightly harder to block Tor naively). Would it be possible to write an application that only diverts traffic if, say, it's not from `tor.exe`

[2015-12-14 20:14] TechnikEmpire commented on #58
@quantum1423 There is no support for this directly within WFP, upon which WinDivert is built. All you can do is use the Win32 api to attempt to determine the process generating a packet flow.

If you can suffer seeing a mix of visual C++ and the native C api, there's an example of how to get this information in my .net wrapper for WinDivert [here](https://github.com/TechnikEmpire/Divert.Net/blob/m

[2015-12-14 20:15] TechnikEmpire commented on #58
Note also you can, with a little bit of modification, make [nDPI](http://www.ntop.org/products/deep-packet-inspection/ndpi/) work with WinDivert, which will provide port independent protocol mapping and would give you the same end result you're after. Tor is one of the many supported protocols.

[2015-12-15 11:20] basil00 commented on #58
No this is not technically possible.  The best you can do the the `GetPacketProcess` trick suggested by @TechnikEmpire.

The problem is that there is no process information associated with packets at the network layer.

[2015-12-15 11:20] #58 closed

[2016-01-15 07:53] alle1974 opened #59 "webfilter example does not work on internet explorer ???"
That's very strange. I'm using the webfilter.exe example and it's working on Firefox and Chrome but on Internet Explorer does not block any address configured on the blacklist.txt.
Someone can help me to understand why ?

thanks

Alessandro

[2016-01-15 10:54] basil00 commented on #59
This is explained here: https://github.com/basil00/Divert/blob/master/examples/webfilter/webfilter.c#L451

Basically, IE puts the Host header last, whereas most browsers put it first.  The webfilter code expects it to be first, otherwise it will not block.

It is not worthwhile fixing the problem since the webfilter is not the correct way of doing things anyway.  To do HTTP filtering 'properly' yo

[2016-01-17 01:05] #59 closed

[2016-01-18 20:47] Yousefjb opened #60 "Is windows xp supported ?"
I dont have a machine with windows xp to test out, but i wonder if you have tested it since it's not mentioned in the README.md

[2016-01-19 01:06] basil00 commented on #60
XP has never been supported.  The reason is that WinDivert is built on top of Windows Filtering Platform (WFP) which was first implemented in Windows Vista.

[2016-01-19 01:06] #60 closed

[2016-01-23 10:41] Yousefjb opened #61 "promiscuous mode workaround"
hello,
i read in another issue here that WinDivert doesn't work in promiscuous mode, i just want to get things clear. I am doing ARP spoofing to redirect traffic in the network to my device where WinDivert works fine, i am loosing a few packets due to arp spoofing race condition, i though i could get these missed packets by using winpcap in promiscuous mode, i wonder if windivert will keep on work

[2016-01-27 09:09] basil00 commented on #61
It may be possible that WinDivert can capture the packet, however, it cannot block the packet as it is already a copy.  At least that is my understanding of promiscuous mode.

[2016-01-27 09:09] #61 closed

[2016-01-27 14:20] Yousefjb opened #62 "Open in DivertLayer.Network and DivertLayer.NetworkForward together"
i want to divert at both layer, with one handler. how could i do that ?

[2016-01-28 03:51] basil00 commented on #62
No it is not possible.  You can open two handles and use `WaitForMultipleObjects`.

[2016-01-28 03:51] #62 closed

[2016-02-05 12:27] abu21 opened #63 "building project in vs2010"
how to run this project in vs2010 or 2013?
i am having issue in running wddk-build.bat file ..it is not creating dll and windivert64.sys file in INSTALL directory .
Also, i am having Win 10 . do i have to download Win driver kit for win 10?
Please help me.

[2016-02-06 03:50] basil00 commented on #63
To build WinDivert without building the driver, you just need to copy the pre-built driver files to the following directories:

    install\WDDK\amd64\WinDivert64.sys
    install\WDDK\i386\WinDivert32.sys

After that, you can run `msvc-build.bat` in a VS command-line build environment.

You can try this for VS2010 or VS2013.  I am not sure if it will work.  I think some of the `sln` files may be V

[2016-02-06 03:50] #63 closed

[2016-02-23 15:21] Yousefjb opened #64 "is it ok to set tcp & ip headers by hand ?"
in the document you say a conversion from Host to Network byte order is done internally. I don't know much about this topic, but can i modify the addresses (say source ip) in the buffer directly without worrying about any conversions ?

[2016-02-27 14:36] basil00 commented on #64
I am not sure where the documentation says conversion is done internally?  For injected packets, the bytes must be in network order, and it is up to the programmer to ensure this.

[2016-02-27 14:36] #64 closed

[2016-04-15 10:48] Tom-Lu opened #65 "802.1Q VLan support"
WinDivertHelperParsePacket and WinDivertHelperCalcChecksums function incorrect with 802.1Q packet

[2016-04-15 13:07] basil00 commented on #65
WinDivert works at the Network layer (layer 3), whereas 802.1Q is data-link layer (layer 2) protocol, so it is not supported.

[2016-04-15 13:07] #65 closed

[2016-05-21 01:11] sardasanat opened #66 "2 issues: failure to inject packet 87 and ip header = null"
1. When I implement windivert similar to passthru example, that is creating fix multiple threads and simple filter pass all i.e "outbound", I never get "failure to inject packet 87" error. When I changed the code, creating thread only when packet is received  via WindivertReceive (shifted function to main thread) and declaring windivert handle as global variable, many non-tcp packets I get "failur

[2016-05-21 15:22] basil00 commented on #66
Can you post some code that illustrates what you are trying to do?

Are you sure that both threads are not sharing the same packet and `WINDIVERT_ADDRESS` buffers?  If one thread clobbers a buffer it could explain the packet injection errors.

These are IPv6 packets I assume.  Any packet returned by WinDivert should be either IPv4 or IPv6.

[2016-05-25 05:56] sardasanat commented on #66
Dear Basil, Thank you for your reply. Please find following code, Basically I divert and delay every outbound packet , using a delay algorithm before re-injecting packet back.

" Are you sure that both threads are not sharing the same packet and WINDIVERT_ADDRESS buffers? If one thread clobbers a buffer it could explain the packet injection errors"
   I am not sure, I was thinking it could be caus

[2016-05-25 12:56] basil00 commented on #66
The problem is that you are passing the address `add` and packet buffer `pac` to the new thread, and then immediately call `WinDivertRecv` again in the main thread loop.  There is nothing stopping `WinDivertRecv` from overwriting the `add`/`pac` memory (with the next packet) before the `divert` thread has finished processing, and this probably explains your errors.

Also, created a new thread each

[2016-05-25 13:49] sardasanat commented on #66
Yes. Thats correct. But then why do ICMP packets (ping) does not give any errors ?

I have also implemented multiple threads at startup approach. Issues with this approach is,

1. I don't want packet to wait for a thread to be free, as that adds more delay to the packet. Only delay assigned to the packet should be from the "delay algorithm". If the packet has to wait, it accumulates more delay. To

[2016-05-27 11:36] basil00 commented on #66
Probably because of the space between packets is long enough such that the buffer does not get clobbered.

Are using a 100+ core machine?  Either way, first fix the memory buffer bug otherwise the timings are not very meaningful.

No, such functions do not exist in the API.

[2016-05-27 11:36] #66 closed

[2016-05-30 06:12] sardasanat commented on #66
Tested ICMP packet input rate with 01, 0.2, 0.5 msec per packet.

100 threads is using different code that of your passthru example, where multiple threads are created at startup and each divert function has a WinDivertReceive function. So each thread has local copy of packet buffer.I am using a 4 core ( per core 8 logic processors) 64 bit machine

[2016-05-30 06:18] sardasanat commented on #66
Issue with passthru example is that threads would process and re-inject packet before the packet that was received earlier and was being processed by another thread. This significantly seen if the rate at which packets are received are significantly higher.

[2016-05-30 18:18] TechnikEmpire commented on #66
@sardasanat You're spawning 100 threads against 8 logical cores? What are you trying to accomplish except to severely degrade performance by sleeping and resuming 100+ threads?

[2016-05-30 20:23] sardasanat commented on #66
I am trying to find the limit i.e maximum no of threads I need to create at startup so that no packet have to wait for a thread to process it. In other words, thread is available to process packet immediately. So for couple of threads and high packet input rate, packet processing time increases and my application requires restricting packet processing time to certain time value.

[2016-05-30 22:03] TechnikEmpire commented on #66
@sardasanat But if you only have 8 logical cores, you realize that you cannot possibly have anymore than 8 threads executing concurrently, right? It makes no sense in this case to start so many threads, you're going to be forcing 92 threads at any given time to sleep and then awoken again at some indefinite time in the future. This is extraordinarily expensive, especially multiplied by 92.

Furthe

[2016-06-02 10:24] sardasanat commented on #66
@TechnikEmpire Thanks for your reply. All comments are welcome.
  8 threads executing concurrently, right?
How do you know that ? Can you clarify. Earlier I read,and as per it considered 32 as there are 4 cores. Then there is reference here,
http://superuser.com/questions/759206/how-many-threads-are-concurrently-executed
and here where 2nd responder says concurrent threads depends on other factors

[2016-06-02 14:30] TechnikEmpire commented on #66
@sardasanat The guy answering the question you reference has no idea what he's talking about. You don't multiply number of cores by logical processors. Number of cores represents the number of physical cores. Hypherthreading is a technology that enables a single physical core to act as two logical cores. If you have a 4 core processor with hyperthreading, you have 8 logical cores. A logical core c

[2016-06-24 22:45] sardasanat commented on #36
I have issue wrt switch port mirroring and unable to find the solution. Windivert is running on PC which is configured to receive packets from the mirrored port on the switch. I am unable to receive any mirrored packets either using FORWARD LAYER or NETWORK LAYER. It does'nt give any error, After running app which uses windivert, just does'nt receive any packets. if run Wireshark on same PC as Win

[2016-06-28 15:50] sardasanat opened #67 "How to capture mirrored packets in windivert application"
Using forward layer and wireshark, windivert app receives packets, but see more packets than mirrored. Without wireshark, it doesnt receive at all. In network layer, windivert app hangs the PC. I have tried quite few things and not sure how to go about. I think its similar issue to the one open on "switch port mirroring" .

[2016-06-29 04:44] sardasanat commented on #67
Currently, in forward layer, by changing interface number and packet direction. (Directing packets to loopback interface) Although I get " failure to reinject packet 1231" , but  am able to capture mirror packets properly. Also I still have to run wireshark concurrently, to receive mirrored packets in windivert app.

[2016-06-29 06:15] TechnikEmpire commented on #67
@sardasanat Please consider posting questions on how to use/do things to somewhere like stackoverflow. Basil is on there and might even pick up the question if you tag it correctly. As someone who maintains repositories of his own, it's a real pain the arse when people open bug tickets because they can't figure out how to do something. Consult the documentation, ask on stackoverflow and then if yo

[2016-06-29 08:25] sardasanat commented on #67
@TechnikEmpire I dont think you understand (probably you havnt read properly) and your comments aint helping (which you claim). Infact I find it funny that someone thinks, one can post an issue like this without referencing the document, similar issues (closed and open) and related posts on stackoverflow.  For your understanding, let me elaborate, I bumped on an issue, which is same as open issue

[2016-06-29 08:25] #67 closed

[2016-06-29 09:21] TechnikEmpire commented on #67
@sardasanat Both of those referenced issues have either been closed or had comments made by the library author where theories about the cause are implied, and it boils down to the library inheriting behaviors from the WFP, the system on which the library is built. Also there is a suggestion backed by strong evidence that WinPCap is interfering in both cases.

Have you done any reading about WFP in

[2016-06-29 09:33] TechnikEmpire commented on #67
@sardasanat I just realized that you also discarded my remarks because I'm just "just a user" and not "in the biz of developing.."

https://github.com/TechnikEmpire/Divert.Net

https://github.com/TechnikEmpire/HttpFilteringEngine

https://github.com/TechnikEmpire/StahpIt-WPF

I don't claim to be some brilliant programmer, but I think I have a clue about what's going on. Want to know how I have a c

[2016-06-29 10:50] sardasanat commented on #67
@TechnikEmpire I still think you dont get it.

"As a user, not in the buiz, of developing own filter driver or compiling and modifying same"
I am talking about myself. I am the user not the one developing. So I am ok to use any filter that works with my overlaying application, but cannot work on filter itself . (outside my scope)

"Both of those referenced issues have either been closed or had com

[2016-06-29 11:01] TechnikEmpire commented on #67
@sardasanat Comments withdrawn, forget I ever replied to you. Blocking you now because you're either A) very terrible at English, which is why your comments are appearing as rude or B) deliberately trying to be rude and then hiding behind poor English to excuse it.

[2016-06-29 14:54] basil00 commented on #67
I do not know the cause of #36.  I can only speculate that the installation of a NDIS protocol driver causes Windows to retain the mirrored packets it would otherwise discard; and thus such packets become visible at the WFP network layer.  It is possible that mirrored packets normally appear at the `FWPM_LAYER_*_IPPACKET_*_DISCARD` layer (which WinDivert does not support), but I have not tested th

[2016-07-28 04:03] nscboy commented on #12
In win10(x64) ,when i used passthru.exe with param ""inbound &&  ip && tcp.DstPort == 9000&& tcp.PayloadLength > 0" 1" I always get the error :"warning: failed to reinject packet (592)"
and the client disconnect after it send somethings.
**but in the win7(x64,SP1).I can run the same application passthru.exe successed.**
I used netdump.exe ,it work OK.
can I do something to decide this issue?
I che

[2016-07-28 14:11] basil00 commented on #12
I am not sure what would cause that behavior.  It is possible that some other software (only on the Win10 machine) is blocking the re-injected packets, and this manifests as a 592 error.

For `netdump` the `WINDIVERT_FLAG_SNIFF` means the original packet is not dropped.  So it seems the problem only appears for packets injected from userspace.

Unfortunately I do not have a Win10 box to test ATM.

[2016-07-31 16:26] nowsec opened #68 "WinDivert WinDivertSend() problem"
Dear, basil.
My name is Irog. I am a student studying about WinDivert :)
While compiling netfilter.c file that I modified, I met something unknown error. Here is a test.

[Test Case 1]

I tried to send a TCP packet receiving from WinDivertRecv function,  using WinDivertSend function.
I didn't modify any packet data. After receiving a TCP packet, and I inputed the packet into WinDivertSend paramete

[2016-08-01 02:33] basil00 commented on #68
Sounds similar to [this problem](https://github.com/basil00/Divert/issues/12#issuecomment-235795212) reported a few days ago.  Which version of Windows are you using?

[2016-08-01 03:59] nowsec commented on #68
 I am using Windows 10 Pro 64 bits. Is this probrom due to window 10? 
------ Original Message ------
Date: Monday, Aug 1, 2016 11:33:14 AM
From: "basil00" <notifications@github.com>
To: "basil00/Divert" <Divert@noreply.github.com>
Cc: "김남우_Irog" <nowsec@nate.com>, "Author" <author@noreply.github.com>
Subject: Re: [basil00/Divert] WinDivert WinDivertSend() problem (#68)

Sounds similar to this pro

[2016-08-02 01:01] basil00 commented on #68
Which version of WinDivert are you using (1.1.8 or 1.2.X) ?

Looking at your code, you do not calculate the checksum before re-injecting, which is a problem for WinDivert 1.2.X.

The other issue may be unrelated.

[2016-08-08 05:36] basil00 commented on #68
No response so I will assume the issue was resolved.

[2016-08-08 05:36] #68 closed

[2016-08-26 07:30] u-riaz opened #69 "Is WinDivert usable for Windows 8 and 10 ?"
Hi,
WinDivert is based on WDK-7.1.0 and claims that it would support Windows Vista and up (7,8,10). But the Microsoft's [page](https://www.microsoft.com/en-pk/download/details.aspx?id=11800) claims that WDK 7.1.0 can only be used to build drivers for Windows 7 and lower. Can someone please help to let me understand how WinDivert will support Windows 8 and 10.
I want a traffic filter on all Windows

[2016-08-26 14:54] basil00 commented on #69
Windows 7 drivers are compatible for Windows 8 and 10, so there is no problem.

Latter versions of WDK build drivers that are only compatible with Windows 10, or require co-installer bloat to work on older versions of Windows.  That and the fact that WDK 10 requires VS2015 professional (non-free) makes WDK7 an easy choice.

[2016-08-26 14:54] #69 closed

[2016-08-29 14:29] u-riaz opened #70 "Missing INF file for Digitally signing"
I'm new to driver dev hence don't know much about driver signing.
I'm trying to sign WinDivert64.sys using the help available within WDK. After creating *.cer file, creation of *.cat file is required. To create a cat file with "INF2CAT.exe" an INF file is required, but there is no such file in the WinDivert home directory. I'd build the WinDivert package using wddk-build.bat which doesn't generate

[2016-08-29 17:02] TechnikEmpire commented on #70
See #53

Currently the project is in need of a sponsor for the cert. To cover all windows platforms (ie Win 10) the cert needs to be an EV cert. Expensive.

[2016-08-30 12:54] basil00 commented on #70
@u-riaz Unless you are modifying WinDivert there is no need to sign the driver yourself, just copy-and-paste a pre-signed driver from a binary release: https://github.com/basil00/Divert

WinDivert does not use an inf file.  You can just use `signtool` directly on the driver, something like:

    signtool sign /a /v /ac path /s store /n name /t server WinDivert.sys

I forget all the details though.

[2016-08-30 12:54] #70 closed

[2016-09-01 11:40] TechnikEmpire commented on #53
@basil any suggestions or advice on which cert to buy and where? I find lots of ev certs but some of them make different claims about code signing.

[2016-09-03 12:46] basil00 commented on #53
Usually you just want the cheapest that will do the job.  I found [this page](https://msdn.microsoft.com/en-us/library/windows/hardware/hh801887.aspx) that has a list of EV certificate authorities that should work (given they are directly linked to by Microsoft).

[2016-09-10 18:11] TechnikEmpire commented on #53
@basil00 I remember some info you had about special rights for sponsors. Can you link to that info? I'm also curious if it's possible to add in some sort of mechanism to prevent tampering. For example, a content filter or AV scanner that uses WinDivert to capture all data, if there's something at the driver level where you can prevent a force shut down. This way you could open a capture all handle

[2016-09-13 12:19] basil00 commented on #53
@TechnikEmpire, I am not sure what info you are referring to.  Perhaps contact me via email and we can discuss.

This might not be a good idea as part of a general WinDivert release that can also be used by malicious applications, e.g. AdWare.  In such cases it is important that the user/Administrator be able to disable WinDivert as a last resort.

It might be okay for a specialized WinDivert that

[2016-09-15 12:09] Areithus opened #71 "Process Id"
To get the process id it's currently required to execute the very expensive GetTcpTable2 (or similar) function. However, the process id already seems to be available in WFP (https://msdn.microsoft.com/en-us/library/windows/hardware/ff552397(v=vs.85).aspx). Maybe this could be added to PWINDIVERT_ADDRESS?

PS: Thanks for the great lib!

[2016-09-15 23:54] TechnikEmpire commented on #71
Fyi I found a documentation link showing that it's possible to use a string absolute path to one or more binaries for filtering matching, supported back in Vista. So it should be possible to do that as well. When I have time I'd like to take a crack at one of these features and just do a PR.

[2016-09-16 02:16] basil00 commented on #71
Although that data-structure contains a `processId` field, the process ID is not actually available at the WFP network layer (e.g. `FWPM_LAYER_OUTBOUND_IPPACKET_V4 `, etc.) at which WinDivert runs (i.e. the `processId` field will just be zero).

[2016-09-16 02:16] #71 closed

[2016-09-16 08:01] Areithus commented on #71
Thanks for the replies 👍
Please also check [here](https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/8c923f6b-ce7d-4246-a919-2424d6e1991f/process-id-from-fwpmlayeroutboundippacketv4-layer?forum=wfp) @basil00, there are several ways mentioned to get processId from that layer.

[2016-09-17 04:55] basil00 commented on #71
No, as the link mentions you still need to get the PID from the ALE layer, and WinDivert does not support this layer for now.

[2016-09-22 08:57] Areithus commented on #71
I see, you are indeed correct, thanks again @basil00!

[2016-09-22 09:05] Areithus commented on #52
Did you ever find anything to improve the performance? I'm currently experiencing a similar performance drop and high CPU usage. The application spends most of its time in the WinDivertSendEx method. I already increased both available parameters (WINDIVERT_PARAM_QUEUE_LEN and WINDIVERT_PARAM_QUEUE_TIME) but that does not make a lot of difference I'm afraid.

[2016-09-22 12:31] FCrane commented on #52
Hi!

Sorry, but no. This problem seems to be by design and the developers don’t seem to be interested to fix it.

Regards!

From: Areithus [mailto:notifications@github.com]
Sent: Donnerstag, 22. September 2016 11:05
To: basil00/Divert <Divert@noreply.github.com>
Cc: FCrane <frasier.crane@gmx.net>; Mention <mention@noreply.github.com>
Subject: Re: [basil00/Divert] Performance impact? (#52)

Did you

[2016-09-27 12:06] u-riaz commented on #52
Hi @FCrane and @basil00 ,
I'm interested to write a packet filter which will block outbound traffic from almost 162K IPs. For that purpose, instead of diverting all traffic and then filtering I've come with a scheme:
- For TCP divert only SYN packets (dropping SYN packets wouldn't make the connection) and for UDP and other divert all packets (filter: "(outbound and tcp.Syn) or (outbound and (!tcp)

[2016-09-28 13:37] basil00 commented on #52
Generally you want to divert as little traffic as possible to get the job done.  Diverting only SYN packets is a good approach and should have minimal impact, although this will not affect established TCP connections.  For UDP, that does not have a SYN equivalent, you'd be stuck with diverting everything or implementing something complex (e.g. update the filter string to whitelist established UDP

[2016-09-28 13:38] basil00 commented on #52
Nothing can be done until #53 is fixed anyway.

[2016-09-28 14:26] u-riaz commented on #52
@basil00 ,
Thanks for your reply.
Would you please let me know the tools and all other things you used to measure the performance drop (which you and @FCrane measured/tested and mentioned in upper comments). Help me in creating the environment to measure performance, I want to test my scheme's throughput.

[2016-10-01 01:10] basil00 commented on #52
For latency use ping, and for throughput just use any file transfer tool (`ftp`, `scp`, or even there are some `http` speed testers if you google for them) will do.

The performance impact of WinDivert is usually minimal unless you are attempting to divert megabytes per second of data through a user application.  This is especially true for latency, where the the lag introduced by the user applica

[2016-10-03 13:58] anovokreschenov opened #72 "Unable to capture forwarded packets without Windows ICS"
Hi @basil00, I have tried to create a very simple firewall with NAT to share single Internet connection in small local network, but I have a troubles. This is a testing environment: PC with two physical network cards, the first NIC has static IP address and is connected to the ISP, the second NIC has static IP address and used as a default gateway for all other machines in the network;

My program

[2016-10-04 02:39] basil00 commented on #72
Are you opening the WinDivert handle at the `WINDIVERT_LAYER_NETWORK_FORWARD` layer?

[2016-10-04 03:46] anovokreschenov commented on #72
Yes of course, I've created a very simple test program, it opens a WinDivert handle - `WinDivertOpen('true', WINDIVERT_LAYER_NETWORK_FORWARD, 0, 0)`, the program reads and writes packets in separate thread without any modifications, just for logging purposes.

The test environment:
- PC with two physical network interfaces (LAN and WAN), this PC works under Windows 10 x64. The test program works o

[2016-10-05 02:38] basil00 commented on #72
I think this is correct.  If you want forward packets, you basically need to configure Windows as a router, otherwise the packets are discarded/ignored by Windows by default.

I am not sure about the double packets problem for ICS.

[2016-10-11 08:55] #72 closed

[2016-10-21 15:46] psprowls commented on #41
I am running into what I a believe is the same issue as above when we have another WinDivert based solution on the system.   CPU usage is pegged split between our service and their service and all network traffic fails (although we will still block sites appropriated).   I am in the process of trying the suggested fix above, but was hoping since over a year has passed someone might have more infor

[2016-10-23 03:23] basil00 commented on #41
Unfortunately I do not know of a fix.  Recently another user has opened a paid ticket with Microsoft regarding the issue, so hopefully a solution will be found, but I have not heard any news yet.

Unless I am misunderstanding something (which is quite possible), this seems to be a design flaw in WFP itself.  Basically, WFP has a mechanism for preventing a driver (such as WinDivert) from (re)consid

[2016-11-07 09:12] TechnikEmpire commented on #55
@basil00  @fahminlb33  You can find a PInvoke version here:

https://github.com/TechnikEmpire/DivertPInvoke

[2016-11-07 13:01] fahminlb33 commented on #55
I'll try it soon

[2016-12-06 20:34] satnatantas opened #73 "How to validate all checksums?"
I want to modify packets but I do not want to validate them if they were not valid to not damage the receiving applications.

Is there a convenient way of doing it except copying packet, updating checksums in a copy and comparing all the checksums 1 by 1?

[2016-12-06 21:37] satnatantas commented on #52
https://github.com/basil00/Divert/issues/52#issuecomment-137912410

It would be helpful to know if the performance hit is constant with handicapped transfers with handicapping with varying granularity.

[2016-12-07 11:48] satnatantas commented on #73
Or, should I just `memcmp` the original packet and the packet with updated checksums?

[2016-12-07 12:02] ffalcinelli commented on #73
Your requirements aren't so clear to me... If you edit any header then checksum for that header will not match with the original packet. There's [WinDivertHelperCalcChecksums](https://reqrypt.org/windivert-doc.html#divert_helper_calc_checksums) function that will recompute your checksums, and if you are sure some of them are already right, you can exclude those (e.g. suppose you just edit IP heade

[2016-12-07 13:45] satnatantas commented on #73
@ffalcinelli there is a special label "question" here on GitHub.

I assume that a packet may arrive damaged. Will that be detected before diverting by the WinDivert driver? If it is damaged and if I modify it before knowing whether it is damaged or not I am validating errors.

[2016-12-07 14:32] ffalcinelli commented on #73
Yes, that was just to get to a broader audience, I'm not saying you can't (and I'm not even qualified to do so).

Anyway, not proved but I think you can get only 2 scenarios on receiving packets with wrong checksums: the network stack drops them silently as part of normal network control flow or you can drop them by code.

In first case, you should obtain retransmissions or packets silently droppe

[2016-12-07 21:06] basil00 commented on #73
The checksums for packets returned by `WinDivertRecv` will either be valid or zero.  It will be zero only for outbound packets and where checksum offloading is enabled.  If Windows receives an inbound packet with an invalid checksum, the packet will be discarded before it reaches WinDivert.

[2016-12-07 21:06] #73 closed

[2016-12-08 09:34] satnatantas commented on #73
@basil00 thanks!

[2016-12-08 11:04] satnatantas opened #74 "ERROR_IO_PENDING if trying to reinject from netfilter example"
V1.2.0rc, VS2015

I am trying to make a network filter, I am using `netfilter` as a template. I am having strange problems and reduced them to this code:
[netfilter.zip](https://github.com/basil00/Divert/files/639171/netfilter.zip)

I have taken the `netfilter.c` and commented out the info printing and the responses sending (like TCP reset), I pasted the reinjecting line from `passthru` (just to b

[2016-12-09 12:48] basil00 commented on #74
`GetLastError` is only meaningful if the injection failed.  Are you sure that `WinDivertSend` returned `FALSE`?

It is plausible that `GetLastError` would return 997 on a successful injection.

[2016-12-09 18:38] satnatantas commented on #74
I was sure until I checked the `minwindef.h`:
`#define FALSE               0`

I was so sure that `!0` means error (like in *nix)that I did not check the headers.

I need to excuse now: I do not know what exactly changed but now it is running perfectly fine.

[2016-12-09 18:38] #74 closed

[2017-01-30 17:55] TodM0 opened #75 "Lag spikes & dropping packets"
Hello Basil,

I am trying to add 100ms latency to packets using a WinDivert C# wrapper, but the lag fluctuates as high as 2000+ms after a few seconds, and eventually drops packets when loading webpages, etc. I have also tried maxing out the WinDivert queue. Could you help identify the problem?

Source:
[code]
Output:

![problem](https://i.gyazo.com/085e3815444cc5d0122406bfb6445763.png)

Error 997

[2017-01-30 18:06] sologub commented on #75
Your algorithm is incorrect.
For example what will happen if you have, lets say, 5 packets waiting in the driver to be sent right now?
The first packet will be extracted and sent with a 100 ms, as required, but the next one will also be delayed another 100 ms, so the total delay gets up to 200 ms for the 2nd packet. The same with the next ones: 3rd packets gets delayed by 300 ms, 4th - 400 ms and

[2017-01-30 18:18] TodM0 commented on #75
@sologub My thoughts were that once WinDivertOpen is called packets can wait in excess of 2000ms in the queue before being read and sent.

This is my attempt at using a queue, but the issue still persists along with error 87.
[code]

[2017-01-31 00:41] basil00 commented on #75
WinDivert will drop packets that are not read by the application in time.

Error 87 probably means you are injecting invalid packet data.

[2017-01-31 08:23] TodM0 commented on #75
@basil00 Could you point me in the right direction with copying packets to a queue in C# of which WinDivert can read from? Also I assume WinDivert can still send packets after they're dropped if successfully captured by the application?

[2017-02-01 15:58] basil00 commented on #75
Yes, each injection is treated as a fresh packet.

[2017-02-01 15:58] #75 closed

[2017-02-01 17:34] TodM0 commented on #75
@basil00 Thanks for confirming.
I have moved this issue over to stackoverflow if you care to take a look [here.](http://stackoverflow.com/questions/41986016/c-sharp-why-are-these-packets-failing-to-send-from-the-queue)

[2017-02-02 09:39] spyware293 opened #76 "Drop received packet and send another packet"
I want to make something like auto reply chat. When i received a specific message it will drop the received message and send a new crafted packet to the sender. How do i drop the packet properly and send a packet to the sender's address ?

[2017-02-03 07:35] basil00 commented on #76
You should start with the WinDivert documentation and sample programs.

[2017-02-03 07:35] #76 closed

[2017-02-03 17:50] spyware293 commented on #76
Why i can't drop packet by just not injecting it to windivertsend like this
`while (TRUE)
	{
		checker = false;
		if (!WinDivertRecv(handle, packet, sizeof(packet), &addr, &packetLen))
		{
			continue;
		}
		for (int a = 0; a <= packetLen; a++)
		{
			if (packet[a] == 0x31 && packet[a + 1] == 0x33 && packet[a + 2] == 0x35)
			{
				checker = true;
			}
		}
		if (checker && addr.Direction == WINDIV

[2017-02-09 15:40] dfct commented on #71
@basil00, do you have any plans to support the ALE layer some day? A project of mine has me looking at it now. Cheers

[2017-02-10 00:50] basil00 commented on #71
Perhaps one day, but development on WinDivert is currently dormant until #53 is resolved.

[2017-02-19 10:52] zhangshuangjun opened #77 "Bug with DDK sample DDproxy"
Hi, I think  Divert maybe have a bug in windivert_write function. Help me....

I build ddk sample DDproxy(just a little modify,see attach) to blocked all udp packet and reinject.

Anything is ok. But after i run passthru.exe with the filter as "outbound and udp"（windivert version 1.2).

The udp packet can't send out, i use wireshark capture the packet. I found Ip header is wrong(see attack)...Orz.

[2017-02-20 01:21] maximus780 opened #78 "UDP packet sent anyway even if it's dropped (Edit outgoing UDP packet)"
[code]

Did I miss something? Nothing changes when I try to replace data. This is snippet to show the actual problem. memcpy doesn't seem to work and still sends the same packet. This is udp packet.

EDIT: same happens when i try to drop packet(avoid calling WinDivertSend) it's sent anyway. It happens so only for UDP packetsm when I drop TCP packets it works.

[2017-02-20 13:28] rajeshvr83 opened #79 "Filter policy in WinDivertOpen for proxy environments"
Hi,

We are using a third party DLL to find the category of each URLs (packets from Windivert driver). For finding the category, third party DLL will send request to their server hosted on internet. We have added IP address of third party server on WinDivertOpen to exclude them from filtering. And this filter policy works fine for normal environments, but it is not working on proxy environments.

[2017-02-20 16:40] TechnikEmpire commented on #79
@rajeshvr83 try doing some reading about how the Windows Filtering Platform factors into system proxy settings. Perhaps opening a handle with the highest priority will get you the packets before they're processed by those settings but that's just a guess.

 I have been able to write code detect socks 4 and socks 5 proxy CONNECT packets and extract the real destination ip or host name by looking at

[2017-02-20 17:10] TechnikEmpire commented on #79
Actually @rajeshvr83 you should still be able to see the true destination address or domain by inspecting the outgoing request headers. You're not going to build an effective filter at all without doing packet dissection and inspection.

[2017-02-21 01:23] basil00 commented on #77
I don't think it can be WinDivert.  The driver checks that the IP version is valid before injection.

Note that mixing WFP filters that use the drop-and-clone idiom is known to be problematic: https://github.com/basil00/Divert/issues/41

[2017-02-21 01:26] basil00 commented on #78
Are you sure it is not a bug in `craftnewdata`, e.g. returns 0?

[2017-02-21 01:32] basil00 commented on #79
I think @TechnikEmpire has the right idea.  If you want to filter traffic that goes via a proxy, it is up to your application to recognize such traffic using the relevant protocols (socks, http, etc.).  These are all application layer protocols anyway, and WinDivert only provides network/transport layer filtering.

[2017-02-21 01:32] #79 closed

[2017-03-03 02:20] basil00 commented on #78
I assume the problem was resolved.

[2017-03-03 02:20] #78 closed

[2017-03-03 02:20] basil00 commented on #77
I assume the problem has been resolved.

[2017-03-03 02:20] #77 closed

[2017-03-05 16:52] maximus780 commented on #78
@basil00 even if I drop it the packet is still being sent. The packet is sent using sendto. I can successfully log it and display values etc. but I can't drop or modify it.

[2017-03-06 19:59] basil00 commented on #78
I am not sure what it going on.  However, since the same problem exists for winpkfilter and sendto hooks, it is unlikely to be a WinDivert issue.  All I can suggest is trying on a different machine/network to see if the same problem exists.

[2017-03-09 07:20] rajeshvr83 opened #80 "WinDivertSend failed with Avast AV"
Hi,

We are facing issue with Avast AV, issue is- when Avast WebShield is enabled then WinDivertSend() failed with error code 592 for HTTP websites. When we disable the webShield in Avast then this issue is not happening. So kindly suggest me any solutions to overcome this issue.

Thanks,
Rajesh

[2017-03-09 09:09] TechnikEmpire commented on #80
@rajeshvr83 Uninstall Avast. Some AV's are poorly programmed and don't play nicely with the rest of the perfectly legitimate applications and drivers that may need to access network traffic. Bitdefender is another application (2015/2016 versions anyway) garbage antivirus that does this.

[2017-03-09 09:10] TechnikEmpire commented on #80
Kaspersky Internet Security plays nice with WinDivert, but its own packet filtering is garbage and will significantly increase network latency.

[2017-03-10 12:18] basil00 commented on #80
This is a known problem with some AVs.  There is nothing that can be done about it other than uninstall the AV.

[2017-03-10 12:18] #80 closed

[2017-03-27 00:39] damien-ls commented on #39
@basil00 would you mind share your code -> damien.eti@gmail.com, I can pay a fee if you're interested. Thanks

[2017-03-28 01:55] kelvinomolumo opened #81 "SendARP & FORWARD LAYER ISSUE"
Hi!

I'm trying to get the MAC address using the IP header either srcAddr or dstAddr (whichever is on the same subnet) from the packet diverted on the forward layer. I do this with the help of the SendARP function to retrieve the physical address of a client.

Now am facing an issue and i don't know what might be the problem here. Without the SendARP function i can reinject packet easily but once

[2017-03-29 08:52] mbg033 opened #82 "Inject/Redirect packets to the loopback interface (127.0.0.1)"
Is there a way to redirect packets to the local proxy running on loopback interface (127.0.0.1)?
I'm trying to implement transparent proxy, but I have a restriction so proxy should be listening on loopback (127.0.0.1) interface only.
Currently filter is
[code]

What I've tried already (for the packet captured from web browser when web browser performs TCP connection to remote address)
1. set dst a

[2017-03-29 23:50] TechnikEmpire commented on #82
@mbg033 I doubt this will work because you'll be trying to push and pop packets to and from private address space to public. You should simply be looking for outbound only packets that are destined for 443 and 80 and forcing them through to the proxy. Also on the proxy side you're going to need to look for incoming, yet non-http connections because this definitely will happen and your proxy will k

[2017-03-29 23:52] TechnikEmpire commented on #82
@mbg033 Any reason why you must have the proxy bound to 127.0.0.1?

[2017-03-30 08:07] mbg033 commented on #82
@TechnikEmpire mostly the reason to avoid blocking this proxy by antivirus/firewall

[2017-03-30 12:14] basil00 commented on #81
The usual way to get the MAC address is to use the `IfIdx` and the [IP Helper API](https://msdn.microsoft.com/en-us/library/windows/desktop/aa366073(v=vs.85).aspx).  I am not familiar with the `SendARP` function, but if it sends a packet it might be diverted to your application leading to a deadlock.

[2017-03-30 12:25] kelvinomolumo commented on #81
Oh it might be the very cause. Because to get the MAC address of a machine from the IP, SendARP needs to send some ARP packet. Wow. Now i need to detect these packets and whitelist it. I will give it a try and will post my findings. Thank you @basil00....

[2017-03-30 12:30] basil00 commented on #82
That's not surprising.  The streamdump sample works by swapping the `SrcAddr` and `DstAddr` of each packet diverted to and from the local proxy, and swapping them back again on the reverse path.  This is a simple trick that makes it easy to track IP addresses.  However, if you want to divert to a local proxy listening on localhost, you must overwrite one (or both?) of these IP addresses with 127.0

[2017-03-31 10:08] Einsy opened #83 "can i get the ethernet header?"
can i get the ethernet header?
I find that,I can get most is ip header,but i can not  get ethernet header? the filter_language

outbound, inbound  only effect for ip protocol？

which rule  can i get the ethernet frame?

  write  by einsy

[2017-03-31 17:25] mbg033 commented on #82
Yes, I do understand it will require address/port mapping, but right now the point is I can't see any SYN+ASK TCP segments after SYN packet sent by the app redirected to the proxy running at INADDR_LOOPBACK.
I added debug dumps to the [streamdump example](https://github.com/mbg033/Divert/blob/develop/examples/streamdump/streamdump.c)
and I only see outgoing SYNs redirected to the local proxy, but

[2017-04-01 03:04] basil00 commented on #83
No, currently WinDivert only supports the network layer (IP headers and above).  You can however filter by the interface (a.k.a. adapter) number (`ifIdx`),

[2017-04-01 03:04] #83 closed

[2017-04-01 03:09] basil00 commented on #82
I am not sure of the exact reason -- however, it appears that you are injecting an inbound packet with a localhost destination address and a public source address.  I think it is likely that such a packet will be discarded.

[2017-04-09 21:19] kelvinomolumo commented on #81
OK i got it working sorry for delaying. WinDivert has no issue with SendARP. Works smootly. Thank you very much for your help. Am learning new things everyday about low level networking! Cheers

[2017-04-09 21:19] #81 closed

[2017-04-10 14:28] basil00 commented on #82
No need to keep this open.

[2017-04-10 14:28] #82 closed

[2017-04-30 20:58] Boudat opened #84 "Drop TCP Packet"
Hi,

I want to drop a specific tcp packet like this
`if (tcp.packet == myarraybyte)
{
continue; // continue to next while loop
}`
But the packet is not blocked. I just want to drop the packet. not the entire tcp connection.

Thanks

[2017-04-30 21:42] TechnikEmpire commented on #84
@Boudat If only it were that simple. Are you looking for a specific payload? Because you need to supply a pointer to a pointer in order for WinDivert to set it to the actual packet payload. Plus you need to ensure you're accounting for byte ordering etc. You should really post stuff like this on programming help sites like that trashbin called stackoverflow, because I can assure you this is not a

[2017-04-30 22:32] Boudat commented on #84
Finding a specific payload is not the problem. I can't find any example to drop a tcp packet with windivert. Maybe providing an example/guide/tutorial to do this can improve windivert. Im opening an issue not a bug ticket.

[2017-05-01 14:45] TechnikEmpire commented on #84
@Boudat Don't open in sniff mode and don't send the packet back out with the send function. There's an extraordinary amount of [documentation on the official site](https://reqrypt.org/windivert-doc-v1.2.html).

[2017-05-01 16:41] Boudat commented on #84
[code]
This isn't working. i wouldn't asked if this can be done just as like you said.
Drop mode will drop tcp connection entirely based on matched filter language. not specific packet.

[2017-05-01 18:57] TechnikEmpire commented on #84
@Boudat If I can't compile your example code, then I can't help you debug it. Please post all of the code, and please stop being so combative in your language, I'm trying to help you. I have other things I can do with my time instead if that's a problem. By the way, have you compiled any of the example applications?

[2017-05-01 19:08] Boudat commented on #84
[code]
I have no problem manipulate send packet like this.
[code]
but when i want to drop the matched send packet with continue; to next loop. it's not blocked at all.

[2017-05-01 19:24] TechnikEmpire commented on #84
@Boudat You're only continuing your inner most loop. You are not continuing the recv/send loop. See the [example about the continue keyword here](http://en.cppreference.com/w/cpp/language/continue).

Should be something like this:

[code]

[2017-05-01 19:29] TechnikEmpire commented on #84
@Boudat Also make sure you read my comments in my modified code example. There's other issues with the code that are going to 100% guaranteed crash your program.

[2017-05-01 19:31] Boudat commented on #84
i've tried it like this.
[code]
if i block whole send packet like this
[code]
it's just delayed. not blocked, and wireshark shows something like this
![image](https://cloud.githubusercontent.com/assets/28234188/25591574/b7898a4e-2ee7-11e7-982e-1dc00a298cdb.png)
It's like keep retrying to send if its blocked

[2017-05-01 19:57] Boudat commented on #84
I tried just like your code
[code]
and the output is like this
![image](https://cloud.githubusercontent.com/assets/28234188/25592445/69facd5c-2eeb-11e7-85a1-642370ee7f3e.png)

[2017-05-03 03:43] basil00 commented on #84
You can't just drop TCP packets anyway.  The whole purpose of TCP is to provide a *reliable* connection.  If a packet is dropped, the sender will detect this (through missing `ACK`s), and the endpoint will attempt to send the packet again and again.  The process will repeat until the packet is successfully transmitted or the connection drops.  Meanwhile, any data after the dropped packet will be s

[2017-05-03 03:43] #84 closed

[2017-05-29 04:04] daotienquang16400 opened #85 "Signing .sys files"
Hi everyone,
I follow the instructions and almost get Windivert works except that the *.sys files must be signed. I did some Google search and it leads me to these:
https://www.reqrypt.org/windivert-faq.html#q2 and
https://github.com/basil00/Divert/issues/70

The problem is I have my *.sys files signed but I still get 577 error code which is unsigned driver code. Would you guys please help me with

[2017-05-29 07:38] TechnikEmpire commented on #85
@daotienquang16400 Download a binary release from https://www.reqrypt.org/windivert.html and then copy the .sys files to overwrite the ones that you've compiled.

[2017-05-29 07:40] TechnikEmpire commented on #85
@daotienquang16400 You can read my instructions here:

https://github.com/TechnikEmpire/HttpFilteringEngine/wiki/Recompiling-WinDivert

All this process does is recompile the dll, not the .sys. The only advantage to this is that you change the version of MSVC C/C++ runtime for the newly compiled dlls. That is to say, the only reason why I do this is so that I don't have to include two versions of

[2017-05-29 08:34] daotienquang16400 commented on #85
@TechnikEmpire thank you very much, you're so kind. I follow your first reply and finally get Windivert to work. I will follow your second reply if necessary in the future.

[2017-05-29 09:02] TechnikEmpire commented on #85
@daotienquang16400 no worries. Can you close this issue? That way @basil00 doesn't have to come clean up. :)

[2017-05-29 10:36] #85 closed

[2017-06-18 11:11] satnatantas opened #86 "Type: question. Is packet rejection documented by Microsoft?"
I am currently trying to generate network traffic for network testing. I am trying to inject large packets generated with libtins on Vista SP2.

And I never got anything except error 87 even though examples work just fine. This is bugging me.

For example:
`Tins::EthernetII pkt=Tins::EthernetII() / Tins::IP(Tins::IPv4Address(QHAdst.toIPv4Address()),Tins::IPv4Address(QHAsrc.toIPv4Address()))  /  Ti

[2017-06-18 21:13] TechnikEmpire commented on #86
But you said you already came to a conclusion, so why are you opening a bug ticket and spamming dozens of watchers?

Unfortunately my crystal ball is having a hard time focusing on your computer screen, so I can't see the source code that you've obviously written incorrectly in order to correct you. I have jim standing in the roof with rabbit ears, but it's still too fuzzy.

Someone once told me w

[2017-06-18 21:42] satnatantas commented on #86
Here are my reasons for doing what I did:
- there is no big red flashing placard saying "do not post anything directly useful for developers here"
- I found at least one similar ticket here (the reason for packet discarding was different)
- it might be generally interesting for other users considering that I did not find any reasonable description of what I am asking about on MSDN or whereever
- B

[2017-06-18 22:26] TechnikEmpire commented on #86
I still don't see any source code for your issue. No one can help you. Showing up on a bug ticket thread with no minimal example to reproduce the issue is like a kid pulling the fire alarm at your hotel. You have no idea if it's legit and there's a fire you need to put out, or if it's a prank and someone needs a scolding.

It's a complete waste of time. Granted, this post caught me on a bad day bu

[2017-06-18 22:33] TechnikEmpire commented on #86
I'm gonna go out on a limb and guess that your program using windivert is not running as an administrator. That's the best shot in the dark I can give an expert who refuses to show their code.

[2017-06-18 23:15] TechnikEmpire commented on #26
In vs2015 the debugger immediately opens connections to Microsoft servers. I noticed this yesterday.

[2017-06-18 23:45] satnatantas commented on #86
Code is copied from sample as much as possible. Oh yes I did launch it as admin, if I did not knew it samples would not work either.

Minimal code is:

[code]

[2017-06-18 23:50] TechnikEmpire commented on #86
Neat. I pressed the "compile" button and it didn't work.

[2017-06-18 23:52] satnatantas commented on #86
I'll bake small console thing tomorrow.

[2017-06-18 23:53] TechnikEmpire commented on #86
Is this code accurate? Does this library actually override arithmetic operators and turns them into some sort of crafting operators?

[2017-06-18 23:56] satnatantas commented on #86
Yes.
http://libtins.github.io/tutorial/sending/

[2017-06-19 00:07] TechnikEmpire commented on #86
That's an egregious design decision on their part. Here's what I'd suggest. Try calling the [WinDivertHelperParsePacket](https://reqrypt.org/windivert-doc.html#divert_helper_parse_packet) function on your crafted packet before sending to ensure that it's formatted as WinDivert would expect. If that proves that your crafted packet is valid, then I'd re-check your use/values of [WINDIVERT_ADDRESS](h

[2017-06-19 00:13] TechnikEmpire commented on #86
Can you verify that the checksums are being calculated within the `.serialize()` method. The documentation is unclear on this. It states that checksums will be calculated if you use the built in sender, it does not indicate that it is automatically calculated just by calling `serialize()`.

A quick search of the source code doesn't show the checksum taking place within this method.

Inspect your c

[2017-06-19 15:18] basil00 commented on #86
This appears to construct a layer-2 packet with an Ethernet header.  WinDivert works at the network layer (layer-3), so such a packet would be rejected with error 87.  The first header must be IPv4 or IPv6, so either construct such a packet directly, or skip over the Ethernet header with (`sample_packet.data()+14`/`sample_packet.size()-14`).

[2017-06-19 15:18] #86 closed

[2017-06-19 17:46] asvald opened #87 "Possible multicast packets problem"
Hello!
My computer get many multicast packets from local network on WINDIVERT_LAYER_NETWORK. Like this
Packet1: SrcIP=192.168.113.149 Port=59466 ---> DstIP=224.0.0.252 Port=5355
Packet2: SrcIP=192.168.113.144 Port=51300 ---> DstIP=239.192.152.143 Port=6771
...

When I just pass this packets like in passthru example in a few minutes network is down and after closing my app it hangs in memory for 2

[2017-06-19 21:27] satnatantas commented on #86
Working it out,, will post simple example tomorrow.

[2017-06-19 23:30] TechnikEmpire commented on #86
Oh weird look at that, it was an invalid parameter.

[2017-06-20 14:39] basil00 commented on #87
Hard to say what the problem is.  From the symptoms, it sounds like the multicast packets are getting trapped in a loop somehow.  There are a few possibilities: bug in the user program, multiple WFP drivers (issue #41), or perhaps injecting inbound multicast somehow gets sent out to the network again (causing a copy the packet to be indicated again).  Or it can be some other problem entirely.

[2017-06-20 16:35] satnatantas commented on #86
@TechnikEmpire invalid parameter OF WHAT?

[2017-06-20 18:17] TechnikEmpire commented on #86
@satnatantas lol look I'm sorry for being a jerk. The packet you were supplying as a parameter was invalid/incorrect if I understand the author correctly. Props to you for handling my grouchiness so well. I did genuinely try to help near the end but all I could do was guess without knowing the other library and having no other info to go on.

[2017-06-20 18:47] satnatantas commented on #86
@TechnikEmpire I am perfectly trained for internetz after few years. Packet is not a parameter, pointer to packet is parameter. If it does not point at packet, it is incorrect.

But well, since WinDivert goes along WinAPI weirdness in this case I can only blame myself for not being familiar with it. But well, I did ask about rejection criteria in the first post.

[2017-07-12 12:43] thalomatt commented on #53
@TechnikEmpire Do you know if you need an INF file to submit to the new driver signing standards?

[2017-07-12 13:23] Mpx1 commented on #26
Problem is that Visual Studio (VS) is 32 bit process and can't directly debug 64 bit processes. VS uses 64 bit helper process "msvsmon.exe" to locally debug application. Communication between VS and "msvsmon.exe" is using TCP over IPv6 protocol with random TCP port - you can see it in open connections using: "netstat -n -b". To solve problem update filter to exclude this connection (e.g. condition

[2017-07-12 13:25] TechnikEmpire commented on #53
@thalomatt I'm not sure. I've never gone through the process myself.

[2017-07-29 07:39] MortezaMoFa opened #88 "build"
I'm trying to use windivert and go step by step in accordance with its README but can finished them and having trouble with **build** command, Error in below:

[code]

[2017-07-30 15:05] basil00 commented on #88
Are you building from a WDK 7.1.0 command line environment?

[2017-07-31 07:17] MortezaMoFa commented on #88
I don't know. (I'm crying mod)

![image](https://user-images.githubusercontent.com/15952600/28766644-c06c463e-75e5-11e7-9e1e-4a033357c571.png)

[2017-07-31 13:02] basil00 commented on #88
No, that is VS2017.  You need to build with WDK 7.1.0.

[2017-07-31 13:02] #88 closed

[2017-08-09 13:49] AlexeiScherbakov opened #89 "Windivert dropping and Winpcap/Wireshark"
How I can configure Windivert to drop packets before they reach Winpcap driver?
I need a complex filtering rule to block some bad packets and see in Winpcap/Wireshark what is happened, but it seems that Windivert & Winpcap working in parallel mode

[2017-08-10 00:46] basil00 commented on #89
Windivert/Winpcap rely on different Windows subsystems (Windivert is a WFP driver and Winpcap is a NDIS protocol driver), meaning that it is not possible to change the ordering.  Outbound packets will always visit WinDivert first, and inbound packets will always visit Winpcap first.

[2017-08-10 00:46] #89 closed

[2017-08-15 03:45] basil00 opened #90 "Possible BSOD when combining WinDivert with Avast+AVG"
There are some reports that combining WinDivert with Avast/AVG antivirus can lead to a BSOD:

* https://github.com/ValdikSS/GoodbyeDPI/issues/13 (in Russian)
* Some reports send privately by email.

It is unclear which driver is to blame.  That said, this seems to be a recent issue.

[2017-08-15 04:49] TechnikEmpire commented on #90
I can get BSOD in Win 10 creator's edition by force terminating an application that has opened handles from WinDivert, then re-launching, force terminating, rinse and repeat a couple of times and you have a BSOD. Probably not related but, maybe that's helpful.

[2017-08-15 10:16] ValdikSS opened #91 "Filter parser bug"
The following filter string is syntactically correct but the parser thinks it's not.
`ip and not ((ip.DstAddr >= 127.0.0.1 and ip.DstAddr <= 127.255.255.255) or (ip.DstAddr >= 10.0.0.0 and ip.DstAddr <= 10.255.255.255))`
Tried with WinDivert 1.2.0rc WDDM build.

[2017-08-15 11:03] ValdikSS commented on #91
Stable version 1.1.8 also has a problem with `not`. It doesn't return an error and the filter looks like successfully installed, but it doesn't work properly.

[2017-08-15 12:22] basil00 commented on #91
This is not a bug per se.  The `not` operator can only be applied to simple tests like `ip` or `tcp.DstPort == 80` but not Boolean expressions.

Negation in the filter language was problematic.  E.g., given `not tcp == 80`, should this match UDP packets?  There are two reasonable interpretations:
* Yes since `tcp == 80` fails so `not tcp == 80` should succeed;
* No since `not tcp == 80` is equival

[2017-08-15 12:25] basil00 commented on #90
That is not happy news.  I have previously run stress tests opening and closing millions of handles but that did not cause a problem.  Any specific steps to reproduce?  Also, any additional information such as a minidump/stack trace, etc.?  It may or may not be related to the other bug.

[2017-08-15 12:32] ValdikSS commented on #91
I see. Then I believe 1.1.8 is buggy in the terms that it accepts such filter with `not` but works incorrectly.

[2017-08-15 12:35] basil00 commented on #91
Possibly 1.1.8 is buggy.  `WinDivertOpen` should fail with that filter string.  I will investigate.

[2017-08-15 15:16] basil00 commented on #91
OK I tested it and can confirm that `WinDivertOpen` accepts the filter without an error.  It seems this is a rather silly bug in the WinDivert 1.1.8 filter parser, which (surprisingly) has gone unnoticed for a long time.

Version 1.2.0 does not have this bug since it uses a new parser.

I am not sure if I will fix.  Probably best to just deprecate version 1.1.X and officially switch to 1.2.Y, whic

[2017-08-15 15:16] #91 closed

[2017-08-15 21:57] TechnikEmpire commented on #90
I'll have to see if I can create a minimal example to repro. I'm pretty swamped and backed up on TODO's though so it might be a little bit. Basically I was writing a test filter trying to detect HTTP packets without interrupting the stream and I was ctrl+c'ing my application, and the ctrl+c handler wasn't correctly closing out handles. After several times doing this (maybe a couple dozen) windows

[2017-08-22 15:23] raphaeljuwe opened #93 "The issue build is not recognised as an internal or external command on my windows command prompt"
My  environment is  windows 10, visual studio 2015 with windows driver and SDK install. Had been having this issue  for the past  five hours "build is not recognized as an internal or external command". had even placed  the  "wddk-build.bat" under system environment.

execution it only create the install directory

Would really  appreciate an insight from you

[2017-08-23 02:03] basil00 commented on #93
I think this is a duplicate of #88.  The current WinDivert build system specifically requires WDK 7.1.0.

[2017-08-23 02:03] #93 closed

[2017-08-23 19:18] topeawolwo opened #94 "DNS RESOLUTION with Divert"
****Am working with Visual Studio 2015.

I do want to know working with divert, can i achieve the following :

Which of the Divert function can i extend for packets to be modified in  such a way that it would listen on port UDP 53 or  TCP. Intercept the packets, carry  out a  DNS RESOLUTION string name to IP conversion and redirect them to another DNS SERVER ).

My question is this  can divert  be

[2017-08-23 19:41] TechnikEmpire commented on #94
@topeawolwo Are you stuck in C/C++ land because that's going to require either A) a DNS library to properly craft packets or B) you to craft your own DNS packet construction and believe me you don't want to do that.

The code for WinDivert to pass DNS packets around is trivial, the code to actually handle them properly is not.

[Libcrafter](https://github.com/pellegre/libcrafter) has some utilitie

[2017-08-23 19:42] TechnikEmpire commented on #53
I'm in touch with an EV cert supplier. It's going to take some time because as a sole proprietor I need to jump through more hoops (signing oaths basically) but when I manage to get an EV I'll sign new releases.

[2017-08-24 02:18] basil00 commented on #94
@topeawolwo yes you basically use WinDivert to divert DNS requests to a different resolver, then divert the responses in the other direction; basically as a DNS proxy.  Alternatively the program itself can handle the intercepted DNS requests.  [Tallow](https://github.com/basil00/TorWall) does something like this although it handles DNS requests directly and only handles the common cases.

[2017-08-24 02:18] #94 closed

[2017-08-24 02:22] basil00 commented on #53
Thanks, there really should be a new release that includes #92.  Also I have some other minor driver improvements on my todo list.  One thing I want to change is not having `WinDivertSend()` block on injection complete, which may be a performance bug.

[2017-08-24 02:25] TechnikEmpire commented on #53
Yeah I know there's a few things emerging, plus I'd like to see if I can fork it and make some additions you may be interested in. That aside, I'm pretty heavily relying on your work here for my own open source project so I'd like to contribute back somehow if I can. It may be a bit but I am getting one and will definitely sign once I do.

[2017-08-24 10:07] thalomatt commented on #53
@TechnikEmpire ,
When you've got your cert, let me know if I can help - it wasn't a trivial matter packaging it up for Microsoft to sign the driver.  At least not trivial to this non-Windows developer.  But seems to work for all of our users - a few Windows 7 users said it didn't work for them, but after asking if they had all the updates, they didn't reply, so I'm guessing they updated and it sta

[2017-08-24 15:14] basil00 commented on #53
@thalomatt I'd guess the Windows 7 problem is because you built WinDivert with a newer version of WDK.  I assume this is a requirement from Microsoft?  The newer driver will work under Windows 7 only after the user has installed the latest updates.

[2017-08-24 19:01] topeawolwo opened #95 "Divert for name resolver"
**i know that Divert can  be used  for packet modification and redirection. I want to achieve DNS name resolution some thing similar to   C-ARES (https://c-ares.haxx.se/).....going through documentation i found our that Divert cannot be used  for such, if it can do correct me.

Secondly,  can DIVERT be extended with other  libraries .. i mean can i attach Divert with C-ARES to achieve name resolut

[2017-08-24 19:05] TechnikEmpire commented on #95
@topeawolwo Did you not read the author's response the first time you asked this question?

https://github.com/basil00/Divert/issues/94

Look at his other project that he referenced and study the source code.

https://github.com/basil00/TorWall/blob/master/redirect.c#L316
https://github.com/basil00/TorWall/blob/master/redirect.c#L646

[2017-08-24 19:20] topeawolwo commented on #95
**@TechnikEmpire      thanks for the response but,

from https://www.torproject.org/docs/faq#DoesntWork

"Tor is a program you can run on your computer that helps keep you safe on the Internet. It protects you by bouncing your communications around a distributed network of relays run by volunteers all around the world: it prevents somebody watching your Internet connection from learning what sites

[2017-08-24 19:25] TechnikEmpire commented on #95
@topeawolwo I'm really confused  now. Why are we talking about Tor, DNS, referring to Tor as to why DNS won't work. Why are we talking about DNS resolution? Can you plainly state your objectives please?

Are you trying to intercept every DNS query and redirect it to your own server? Are you trying to block some DNS queries from being fulfilled? Are you trying to capture all DNS queries and send th

[2017-08-24 19:30] TechnikEmpire commented on #95
I mean no disrespect I just mean if you can spell out what you are trying to achieve, people seeing your question will be able to help more.

[2017-08-24 19:37] winnieaj opened #96 "consuming Windivert.dll"
My  project design
(1) THE WINDOWS SERVICE TALKS TO THE DLL (consumes the dll, use the dll, running in the background), the windows is installed by a setup installer, implemented in C#.
(2)THE DLL TALKS TO THE DRIVER
(3) THE DRIVER DOES THE FILTERING

I built  divert in Visual Studio 2015, it gave me WinDivert.dll. I want to  consume the dll in a windows service (C#).....I want to know how do i ca

[2017-08-24 19:40] TechnikEmpire commented on #96
@winnieaj You can use all of WinDivert from a Windows service, I'm doing this myself. WinDivert is a native library so to use it from C#/.NET you need either a Pinvoke wrapper or a managed C++/CLI wrapper. I have written both but they are of course unofficial.

https://github.com/TechnikEmpire/Divert.Net

https://github.com/TechnikEmpire/DivertPInvoke

I'd recommend just going with the DivertPInvo

[2017-08-25 03:07] basil00 commented on #95
That is up to you to figure out.  We have already given you several hints.

[2017-08-25 03:07] #95 closed

[2017-08-25 03:09] basil00 commented on #96
I don't know anything about C#, so please refer to @TechnikEmpire's answer.

[2017-08-25 03:09] #96 closed

[2017-08-28 09:28] ValdikSS opened #97 "Crash on 32 bit Windows 7 with WDDK driver version"
WinDivert 1.1.8 32 bit WDDK version crashes **the application** on Windows 7 32 bit almost instantly. I suppose this is due some bug in a dll, not the driver.

MinGW compiled DLL with WDDK compiled driver works correctly, as well, as MinGW DLL + MinGW SYS.

[2017-08-28 09:33] ValdikSS commented on #97
Same problem with WinDivert 1.2.0 rc.

[2017-08-28 15:00] basil00 commented on #97
Thanks for the report.  Do you know the crash location (e.g. which function?).  If MinGW works then probably some undefined behavior somewhere.

[2017-08-28 15:01] ValdikSS commented on #97
I'll install debugger and try to debug it today.

[2017-08-28 15:02] ValdikSS commented on #97
If you have free time, you can get latest GoodbyeDPI and replace dll and sys with 32 bit wddk versions.

[2017-08-29 02:00] basil00 commented on #97
I don't have a 32bit version of Windows ready.  When I try on 64bit Windows there is no crash.

[2017-09-01 12:26] yannmareschal commented on #90
Hello, we are the company owning the product parentsaround.com, a control parental solution. We have a windows agent (using windivert), when customers install AVAST and our windows agent (PDLP), they have a BSOD on startup (or during their session) when our two products are active at the same time on their system.

The BSOD are generated by "ntoskrnl.exe", we guess that it should be an incompatibi

[2017-09-01 12:29] yannmareschal commented on #90
It also append with AVG, is is probably linked to a windows 10 update, because the problem as one or two months max

[2017-09-01 14:23] basil00 commented on #90
The other reports also seem to imply it is a recent issue.  I have very little information aside from this and the fact that it appears to be a memory corruption bug (e.g. double free or something similar).

Here as some stack traces that are allegedly related to the bug:

    nt!KeBugCheckEx
    nt!ExFreePoolWithTag+0xf67
    NETIO!memset+0x101d8
    tcpip!FlpReturnNetBufferListChain+0x8e4fe

[2017-09-01 15:07] yannmareschal commented on #90
Ok Thanks, on our side the code did not change and 2 months ago  was working perfectly with Avast. As we reproduce the bug with AVG, we gess that its probably a change in windows.
How can we help to fix this ?
Basicly what we do with windivert is divert DNS and HTTP packets;

[2017-09-02 14:13] TechnikEmpire commented on #90
I'm getting reports of similar crashes with many different A/V software. Here's a ticket for one where a crash dump summary was included, not sure if helpful.

https://github.com/cloudveiltech/Citadel-Windows/issues/49

[2017-09-03 07:42] basil00 commented on #90
I think a `BAD_POOL_CALLER` bugcheck suggests a double-free which is consistent with the stack traces above.

The only places the WinDivert driver frees a `NET_BUFFER_LIST` is in the packet completion functions `windivert_inject_complete`, `windivert_reinject_complete`, or in the error cleanup of a function that creates a packet that is never injected.  WinDivert never frees (or even dereferences)

[2017-09-04 14:29] ValdikSS opened #98 "Incorrect traffic handling in 1.2.0 rc"
Hello.
Some GoodbyeDPI users have an issue with WinDivert 1.2.0rc. They say the websites won't load at all with this version. Changing library and driver to WinDivert 1.1.8 solves the issue.
I can't reproduce it, and I don't know what steps should I do to get additional information from users' computers which have such issue.

Please refer to https://github.com/ValdikSS/GoodbyeDPI/issues/31. You c

[2017-09-04 15:25] basil00 commented on #90
Another link: https://support.avg.com/answers?id=906b0000000DwexAAC

[2017-09-04 15:37] basil00 commented on #98
Looking at the GoodbyeDPI code, it is not clear if checksums are always recalculated before injection.  This is OK for version 1.1.X, but not for version 1.2.Y, since the driver is no longer guaranteed to return packets with the correct checksums.  See the link for more information: https://github.com/basil00/Divert/wiki/WinDivert-1.2-Upgrade-Guide

I think this is most likely the cause of the pro

[2017-09-04 15:40] ValdikSS commented on #98
Just checked, the checksum recalculation seems fine. It works with 1.2.0rc for most users, only some users experience problems.

[2017-09-04 15:41] ValdikSS commented on #98
To clarify, all websites stop opening right as you execute GoodbyeDPI on the machine with issue.

[2017-09-04 15:55] basil00 commented on #98
It is not clear to me that the checksum is recalculated if the first call to `WinDivertHelperParsePacket` fails, e.g. for a non-data packet.  Or is this for inbound only?  The safe approach is to just put `WinDivertHelperCalcChecksums` immediately before `WinDivertSend` and see if the problem goes away.

[2017-09-04 19:18] ValdikSS commented on #98
Ok, I made a refactoring, now it should be more clear.
I also built EXE with `should_recalc_checksum=1` by default, let's see if it would work for that person.

[2017-09-05 21:43] chawkh opened #99 "Low Level Question"
Hello,
first of all, a really cool project.
I feel ashamed, but got to ask for a small example in creating a packet and injecting in with windivertsend.
For a start i tried to copy an existing packet with all bytes and windivert address and handle. Then in another thread I calculate checksum and pass it to windivertsend. It fails to inject. I didnt care about seqnum and such, maybe thats the probl

[2017-09-06 04:40] TechnikEmpire commented on #99
@chawkh There are sample programs.

https://reqrypt.org/windivert-doc-v1.2.html#samples

https://reqrypt.org/samples/passthru.html
https://reqrypt.org/samples/netfilter.html
https://reqrypt.org/samples/webfilter.html

etc

[2017-09-06 04:42] TechnikEmpire commented on #99
Oh and I almost forgot:

https://github.com/basil00/Divert/tree/master/examples

[2017-09-06 06:02] chawkh commented on #99
Thank you very much. But I already checked those. But a packetcreation process I couldnt find. Also I read all other issues here and searched the web. I saw already a few helpful posts from you in other issues. But cant find a solution for my problem.
I want to create a packet. But right now even to copy it to another thread doesnt work. I sniff send and recv from an application and need to send c

[2017-09-06 06:06] TechnikEmpire commented on #99
Hmm, well I can't debug your code at the moment but just know that the error codes returned here are standard windows errors and they are extremely helpful.

https://msdn.microsoft.com/en-us/library/windows/desktop/ms681382(v=vs.85).aspx

The two errors you're seeing here are:

`ERROR_INSUFFICIENT_BUFFER == 122`
`ERROR_INVALID_PARAMETER == 87`

[2017-09-06 06:07] TechnikEmpire commented on #99
Also, not all packets are ipv4 packets, so obviously sometimes the pointer-to-pointer for the IPV4 header will be null.

[2017-09-06 06:13] chawkh commented on #99
Great, maybe size of 40 for s_packet is too small.
But in generell my concept should be possible?
That is enough to keep me working. If you by any chance could post a sample of an easy selfmade and correctly injected packet, it would help alot. I am asking here for much and in reallife I would compensate you with a dinner or present-basket.

[2017-09-06 06:16] TechnikEmpire commented on #99
I do all my "packet crafting" with WinDivert by simply diverting traffic through a proxy and modifying the content dynamically. I don't have the stomach to get all low level manually crafting packets, I let the existing network stack handle all that stuff and just modify payloads by using the proxy. I believe the author's example, the webfilter, does some manual packet crafting. Have a peek there.

[2017-09-06 06:25] chawkh commented on #99
if(packet_len==40&&tcp_header->Ack==1)
				{
					memcpy(s_packet,packet,40);
					copy_handle=s__handle;
					//s__addr=addr;
					printf("captured packet:%d\n",copy_handle);
					WinDivertRecvEx(handle, packet, sizeof(packet), 0,&s__addr, &s__packet_len,0);
				}
Passing addr to s__addr seems to be working with WinDivertRecv. That way its injectable. Thank you so much for your help. Also webfilt

[2017-09-06 14:25] basil00 commented on #99
This is really what the example programs are meant for.

Anyway, it seems this issue is resolved.

[2017-09-06 14:25] #99 closed

[2017-09-07 13:37] ValdikSS commented on #98
@basil00, can you please clarify if I'm using WinDivert in a correct way.
Please take a look at https://github.com/ValdikSS/GoodbyeDPI/blob/windivert-test/goodbyedpi.c
This is is a minimal filter which shows the issue. I'm only changing TCP Window Size in TCP packets without data and with SYN flag set. I recompute checksum right as I change Window Size. And it doesn't work with WinDivert 1.2.0rc M

[2017-09-07 14:18] basil00 commented on #98
Yes, for WinDivert 1.2.X you need to recompute the checksum for **all** packets, even for unmodified packets.  See even the [passthru](https://github.com/basil00/Divert/blob/master/examples/passthru/passthru.c) sample recomputes checksums.

This was a change in the API from 1.1.X to 1.2.Y.  For 1.1.X there was an implicit call to `WinDivertHelperCalcChecksums` inside `WinDivertRecv`, but it was de

[2017-09-07 14:18] #98 closed

[2017-09-09 08:46] basil00 commented on #90
I was unable to reproduce the problem for AVG Online Shield + WinDivert for x64 Windows 7.  For my test setup I had both `passthru` and `netdump` running, and transferred large files to and fro.  I also tried to reproduce by visiting high-traffic sites such as youtube, and still no luck.  It is possible this bug in Windows 10 only, or depends on what nic drivers are installed, or other factors.

[2017-09-11 17:21] GFDwayne commented on #90
This is likely windows 10 specific, we have more than 30 reports on our app that uses windivert and all of them for which we have OS information it is Windows 10. As for other dependencies, I can't say reliably at this point but our customers have seen it as a reliable "always happens" bug and on my test machine the repro is not at all reliable implying to me that there is not a hardware dependenc

[2017-09-11 23:36] TechnikEmpire commented on #90
For the other people, like me, who heavily rely on this project... while our people are working on an EV cert at the moment to solve this issue, it might be a good idea to look at helping solve #53 if you so heavily rely on this project. Just my 2 cents. It's a little unfair to lay the burdens of "my software is breaking please help" at the feet of the developer without even trying to enable them

[2017-09-12 03:01] basil00 commented on #90
@GFDwayne Thanks for the confirmation that this does appear to be a Windows 10-only bug.

This bug has me stumped anyway so there is a bit of time before worrying about driver signing.  I will need to set up a Windows 10 box and see if I can reproduce the problem first.

[2017-09-12 07:40] yannmareschal commented on #90
I confirm that in our case it's an only Windows 10 bug always reproductible. Our control parental solution is free for 30 days, so easy to reproduce with avast : www.parentsaround.com. The bug only happen when the web agent of avast is activated.

[2017-09-12 10:38] kolaci commented on #90
Hi, I am a Avast developer and I am competing with this issue now. I find that BSOD is caused by malformed network buffer list which sometimes arrives to our driver on the WFP IP layer, but only if WinDivert is running. CurrentMdlOffset of network buffer is set to first byte of  IP header instead of first byte of data.
Maybe, WinDivert sometimes forgets to call NdisAdvanceNetBufferDataStart for ev

[2017-09-12 11:33] kolaci commented on #90
However, I just fixed affected Avast drivers so that they will handle packets with incorrect CurrentMdlOffset correctly.

[2017-09-12 11:52] polachz commented on #90
HI, I doesn't analyse the code into the deep, but maybe I can find one WFP rules violation:

in the static void windivert_classify_inbound_network_v4_callout(

You use NdisRetreatNetBufferDataStart

But Retreat is provided only when action isn't BLOCK.

if (result->actionType != FWP_ACTION_BLOCK)
    {
        NdisAdvanceNetBufferDataStart(buffer, meta_vals->ipHeaderSize,
            FALSE, NULL);

[2017-09-12 12:13] basil00 commented on #90
@kolaci Yes, you probably have found the problem.  Specifically [this line](https://github.com/basil00/Divert/blob/f540e7cc02b312f0b1cbbf6d065149a2ece81e99/sys/windivert.c#L2044) looks highly suspect.  The double-free theory may have been a red herring.

I looked up the WFPSampler drivers, and `NdisAdvanceNetBufferDataStart` is always called, regardless of the WFP action.  This strongly suggests a

[2017-09-12 12:32] polachz commented on #90
@basil00 The bug begins to create BSOD only when two drivers are registered on the INBOUND_NETWORK_IPV4/IPV6 layer. It's not common. Major products uses Transport or Stream layers for.The problem begun to be visible with AVAST/AVG because new protection added several months ago uses these layers.

[2017-09-15 22:03] mikedoug commented on #90
@basil00 would it be possible for you to help us by making available an unsigned binary release with this code fix?  This would enable us (and others) to test this fix in our lab and it can also be used by anyone who has the ability to sign the drivers themselves.

Many thanks for all the great work you've done on this code base, and to those here who helped locate the troublesome code.  My review

[2017-09-16 23:56] kelvinomolumo opened #100 "[Question] Manage two WinDivert handles"
Hello.
I want to manage two WinDivert handles. Is it possible?
So i open two handles on different layers with WinDivertOpen (Forward Layer & Normal Layer).
Then use the WinDivertRecvEx on both handles with an overlapped structure. Now i wan to use WaitForMultipleObject for both handles.
Will this work? Is it the correct way to acheive this? If not can it be done another way?

I don't know if i am

[2017-09-17 09:27] basil00 commented on #90
An unsigned build is now available [here](https://reqrypt.org/download/WinDivert-1.2.1-prerelease-WDDK.zip).  Note that I have not done any testing on it myself yet.

[2017-09-17 09:28] basil00 commented on #100
Yes this should work.

[2017-09-17 09:28] #100 closed

[2017-09-17 16:07] mikedoug commented on #90
@basil00 Excellent!  I understand about the not having been tested yet -- I'm confident enough after looking over the code and the Microsoft documentation elsewhere that this is A) very likely the problem and B) nearly no risk of harm.

Again, I'll let you know what our testing shows.

[2017-09-18 02:27] basil00 commented on #90
Thanks, that'd be helpful.

[2017-09-20 14:43] volomike opened #101 "How Do I Modify Domain Responses?"
Let's say I want to make an ad blocker on a web page that shows a message like "Ad Blocked By ___ Ad Blocker" when pulling an ad from some domain. I see that I can modify packets, but can this be done? And will it work even if the ad is pulled via https?

Or would it be better to intercept domain requests and reroute them to a mini web server in memory on an alternative port?

[2017-09-20 14:54] TechnikEmpire commented on #101
This can't be done easily. You can take control of packets sure but that's where the library ends and your work begins. You need to handle one or more protocols above and beyond that, either http/s or DNS or both to accomplish this. If you just hijack dns and nxdomain stuff, web pages are going to have errors all over them.

[2017-09-20 15:01] volomike commented on #101
That's what I thought. So what I need to do is make a browser extension, and see how the source code of Ad Block extension for Chrome works.

[2017-09-20 15:09] volomike commented on #101
So here's a question. Can I use this driver to intercept x.com and HTTP redirect them to y.com? That way, I could show a message perhaps?

[2017-09-20 15:11] TechnikEmpire commented on #101
@volomike I have an open source implementation url filtering via the adblock plus filter syntax [here](https://github.com/TechnikEmpire/DistillNET) but it's in C#. The CSS selector filter side of things is not complete, and the URL filter syntax is not 100% complete but it's more than sufficient to apply 99.99% of ABP filters to urls.

With regards to intercepting sure you can do that, it would be

[2017-09-20 15:14] TechnikEmpire commented on #101
@volomike btw your website's certificate expired 3 days ago. I thought my filter was broken when I visited it :(

[2017-09-20 15:36] TechnikEmpire commented on #101
@volomike If you have command line access to your server, [letsencrypt](https://letsencrypt.org/) is free.

Anyway sorry to get off topic. I dunno about DNS, you could capture DNS queries with WinDivert instead and just process them that. Unfortunately, tools in C/C++ land for managing DNS are few and far between and generally a pain. I'm not sure what languages you work in but there's a very nice

[2017-09-21 03:45] basil00 commented on #101
As @TechnikEmpire hints, it is possible to do this kind of stuff, but WinDivert is rather low-level and only handles the network layer (raw IP packets).  All higher protocols (even including transport) must be correctly handled by your application, which can be non-trivial.  You should look at some of [TechnikEmpire's projects](https://github.com/TechnikEmpire) that use WinDivert for HTTP(S) inter

[2017-09-21 03:45] #101 closed

[2017-09-28 00:25] TechnikEmpire commented on #53
I believe the group I'm working with has an EV cert inbound. We had troubles with initial orders, the company ended up reneging on their offer to issue to an individual after the fact. Will update when it comes in.

[2017-09-28 00:50] basil00 commented on #53
@TechnikEmpire, that sounds promising.  I am also in contact with another company that has recently expressed interest in helping out.  The driver signing process is not as simple as before (now has hardware tokens, SHA1 versus SHA256, dev portal step), so I don't know how long it will take.

Also, it seems that Windows Server 2016 has even [stricter driver signing requirements](https://www.osr.co

[2017-09-28 00:57] basil00 commented on #53
@thalomatt writes...

Actually, I now think the problem is that you have signed the driver using the newer SHA2 algorithm, which is not supported by non-updated versions of Windows 7.  To fix this problem, you are supposed to "rekey" your EV code signing certificate to allow duel SHA1/SHA2 signing.  To rekey you need to contact your certificate provider.  Otherwise, you can not bother and just not

[2017-10-06 04:26] basil00 commented on #90
I have received reports (via email) that the BSOD problem has been fixed.

@basil00 writes...

I think I figured this out.  The very first version of WinDivert attempted to queue the indicated `NET_BUFFER_LIST` (packet) directly.  The (mistaken) assumption was that the driver can take ownership of blocked packets by increasing the reference count.  This is also why the `NET_BUFFER` wasn't restored

[2017-10-09 01:39] basil00 commented on #41
I finally found an [authoritative acknowledgement and response](https://social.msdn.microsoft.com/Forums/en-US/f29497ee-9f02-43c6-bb2c-211f2bb22e2c/infinite-loops-with-multiple-callout-drivers) to this problem.  Post is old (2013) but was somehow missed.  It seems that our analysis above is basically correct, i.e. two or more drivers can enter an infinite loop using the clone-block-reinject method

[2017-10-16 15:09] basil00 commented on #52
The latest WinDivert source code seems to be about ~4x faster than older versions 1.1.X and 1.2.Y, at least with my quick-and-dirty testing.  This might not be quite gigabit speeds but at least it is a lot closer.  The better performance is mainly due to internal driver optimizations such as avoiding copying packets (where possible) and instant injection.

[2017-10-17 10:25] Areithus commented on #52
Nice @basil00!
4x more throughput or 4x less CPU usage? Or both? 👍

[2017-10-17 10:49] TechnikEmpire commented on #52
@Areithus In my experience CPU is nearly all on the user, for the diversion process CPU usage is nil when using overlapped functions and tracking TCP packet flows.

This is exciting news. I've had word @basil00 that EV cert was granted and in the mail to someone I'm working with so we should be able sign shortly.

[2017-10-17 13:29] basil00 commented on #90
New release which contains the fixes: https://github.com/basil00/Divert/releases/tag/v1.3.0

Note that I never replicated the BSOD problem, but I have received reports that it is fixed in the new version.

[2017-10-17 13:42] basil00 commented on #53
There is a new release which contains EV certificate signed drivers: https://github.com/basil00/Divert/releases/tag/v1.3.0

It has also been signed by the Microsoft dev portal, so should work for Windows 10 with secureboot enabled.  I have not had the time to verify this since my virtualization environment doesn't support secureboot.

There are caveats:

* The signature uses the SHA2 algorithm whi

[2017-10-17 13:51] basil00 commented on #52
Yes I meant 4x throughput, although it was a very rough test.  I was testing 1Gbps speed, and version 1.2.0 choked at about 170Mbps, whereas the new version managed 630Mbps (still not perfect but much better).  But this is just one quick test.

Let me know when you are ready and I can assist.  My other sponsor signed version 1.3.0 but it was a long and painful process, but we gained much experienc

[2017-10-17 14:11] TechnikEmpire commented on #53
@basil00 Just curious, will we lose Vista compat with the new driver signing requirements?

[2017-10-17 14:27] basil00 commented on #53
Vista and unpatched Windows 7 support should be possible by "rekeying" the EV certificate to SHA1, then dual signing with SHA1/SHA2.  That said, Vista is no longer officially supported by Microsoft, so I do not intend to "officially" support it anymore either.

[2017-10-18 12:56] satnatantas commented on #52
What was the CPU and it's load when you tested it? Did you test `passthru`?

[2017-10-19 23:55] basil00 commented on #52
Yes `passthru`.  The test box is an old system, so might do better with more modern CPUs.

[2017-10-21 09:18] basil00 commented on #90
This issue appears to be resolved.

[2017-10-21 09:18] #90 closed

[2017-10-21 09:23] basil00 commented on #41
As mentioned, the repository version of WinDivert will decrement the TTL counter for "suspicious" packets that were injected by other callout drivers.  This hardens WinDivert against infinite loops caused by mutual recursion, since the looping packet will eventually be dropped.  When this occurs, the `WinDivertRecv` function will fail with `ERROR_HOST_UNREACHABLE`.  An application can take some ap

[2017-10-21 09:23] #41 closed

[2017-10-25 01:26] basil00 commented on #52
Some benchmarks for `passthru true` at gigabit speeds:

    ------------------------------------------------------------------
    Direct:

    ##: 0.80Gbps down, 0.93Gbps up

    ------------------------------------------------------------------
    WinDivert-1.2.0-rc (#threads)

    #1: 0.06 Gbps down, 0.06 Gbps up
    #2: 0.12 Gbps down, 0.11 Gbps up
    #3: 0.16 Gbps down, 0.15 Gbps up
    #4:

[2017-10-25 11:22] kelvinomolumo commented on #52
There is no MSVC build for WinDivert 1.3.0?

[2017-10-25 11:25] TechnikEmpire commented on #52
@kelvinomolumo did you check the releases page?

[2017-10-25 13:36] Areithus commented on #52
Nice test @basil00, I did some testing here as well (just a little with reading) and can confirm that 1.3.0 is faster than 1.4.0. Not just the throughput but also CPU usage is a little less (about 1-2% less).

[2017-10-26 00:42] basil00 commented on #52
No, try to link against the MINGW version.

Version 1.4.0 has a more complicated pipeline, so is probably a bit slower as a result.  The details are somewhat technical, but version 1.3.0 queues packets (by deep copying) at `DISPATCH_LEVEL`, which is not ideal (at `DISPATCH_LEVEL` the thread is uninterruptible, so nothing else can run until the copying has finished).  Version 1.4.0 fixes this by mo

[2017-10-26 12:07] basil00 opened #103 "WinDivert1.4 Wishlist"
Some API changes that are to be considered for WinDivert 1.4.  Other suggestions are welcome.

* The `WINDIVERT_ADDRESS` structure is updated to include a `Timestamp` field indicating when the packet was captured.  The filter language is extended to include a `timestamp` value.  The `Timestamp` field is ignored by `WinDivertSend`.
* The `WINDIVERT_ADDRESS` structure is updated to include a `Loopba

[2017-10-26 12:18] TechnikEmpire commented on #103
Oh! Grabbing the PID associated with the packet. I think this was discussed a while ago. Not sure important because you can pretty efficiently track this for TCP using existing ip table fetching apis but IIRC there it something built in to WFP that provides it.

[2017-10-26 12:19] TechnikEmpire commented on #103
My engine is about to have maintenance costs dropped to nil so maybe I can fork and provide that in a PR sometime in the future.

[2017-10-26 12:30] basil00 commented on #103
I think the correct way to implement that in WinDivert is to support the `FWPM_LAYER_ALE_FLOW_ESTABLISHED` layers.  However, this is a more major project requiring a generalization of the current API (so should also be rolled into layer-2 support, if we choose to do it), so will not be ready for version 1.4.

[2017-10-26 12:38] TechnikEmpire commented on #103
True true, I was just being greedy. Lol as long as you call GetTcpTable and v6 variant whenever you detect SYN it's not expensive at all to accomplish this manually so I see no urgency in such a feature.

[2017-10-27 00:45] basil00 commented on #103
There is a kernel version of the IP helper API but it appears to be different than the user-mode version (e.g. I can't find `GetTcpTable`).  Either way, the IP helper functions generally require `IRQL<DISPATCH_LEVEL` which means a BSOD if you attempt to call it from `IRQL=DISPATCH_LEVEL` (from where the WinDivert filter is mostly invoked).  Finally, "not expensive" is relative.

[2017-10-27 07:31] Areithus commented on #103
Getting the process id would indeed be great to have. It would make usage a lot easier for a lot of different projects out there. I know you can use some other functions but having it integrated would be great.

[2017-10-27 07:44] Areithus commented on #52
@basil00
I've been reading up a little on this (I think you refer to this specifically: https://msdn.microsoft.com/en-us/library/windows/hardware/ff551206(v=vs.85).aspx and also on some other pages such as https://msdn.microsoft.com/en-us/library/windows/hardware/ff551134(v=vs.85).aspx). Please correct me if I'm wrong though. It seems that if you listen to IRP_MN_QUERY_POWER you can keep the refer

[2017-10-27 15:16] basil00 commented on #103
I don't think the IP helper idea will work, but I will look more into the `FWPM_LAYER_ALE_FLOW_ESTABLISHED` idea.  No promises however.

[2017-10-27 15:20] basil00 commented on #52
That might be something to look into.

I also remembered that there are other complications to consider.  Specifically, while deep copying sounds slow, it also has the benefit of freeing up the original buffer.  This means that `WSASend` can complete immediately rather than blocking until WinDivert dereferences the packet.  This can result in better throughput.

[2017-10-28 10:11] basil00 commented on #103
I do not think it is possible.  Although, we can get the process ID in the ALE layers, there is no direct method (that I know of) to forward this information down into the network layers where WinDivert operates.  It could be possible to do it manually, e.g. via a hash table mapping the network 5-tuple -> process ID, but that is too big of a change just for this release.

Besides, even if this is

[2017-10-28 16:42] Areithus commented on #103
I don't think that's a problem, for several reasons. Windows doesn't reuse PIDs that often (not in the time it gets sent around at least). Also, usually if you're interested in a specific process then you have at least one handle to the process. As long as *any* handle is still open in the process, the PID won't be recycled. It's also the PID at the time it's received. Even if it doesn't exist any

[2017-10-29 06:53] basil00 commented on #103
I already tried this method but could not get it to work.  I could not find any information as to whether it even works for `FWPM_LAYER_OUTBOUND_IPPACKET`, which is where WinDivert operates.  In the quoted [post](https://social.msdn.microsoft.com/Forums/vstudio/en-US/8c923f6b-ce7d-4246-a919-2424d6e1991f/process-id-from-fwpmlayeroutboundippacketv4-layer), the Dusty's answer relates to `FWPM_LAYER_O

[2017-10-29 08:53] Areithus commented on #103
Great 👍

Yes, but the thread is about the WPM_LAYER_OUTBOUND_IPPACKET layer (and LeoLiuQingJun also states that you should be able to implement it with flow context).
Did you also specify [FWP_CALLOUT_FLAG_CONDITIONAL_ON_FLOW](https://msdn.microsoft.com/en-us/library/ff551224(v=vs.85).aspx)? It looks as if that flag is required to get the classify to work, but I'm not sure if that's also required

[2017-10-29 12:47] basil00 commented on #103
It seems there was some confusion about this, even internally from Microsoft.  In [this thread](https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/58a339ab-4fd3-46aa-8ccc-e4d1f6ab5a13/how-to-associate-packets-at-the-ippacket-layer-with-a-condition-on-the-aleauthrecvaccept-or) Dusty Harper initially said it was possible to get the flow context at the `IPPACKET` layers, but changes his mi

[2017-10-29 16:00] Areithus commented on #103
Very interesting that link, didn't find that before. What an odd design decision then.

So you can send data across (some) layers but not from ALE to IP?
If there's information readily available such as the packet hash it shouldn't be too difficult to add an hash table I think?

[2017-10-30 01:10] basil00 commented on #103
It is too much for the 1.4 release, but can consider it for 1.5.  For 1.5, it might make more sense to support other WFP layers directly.

[2017-10-30 02:38] huge818 opened #104 "How to capture/modify/drop the package of a process?"
I'm interested in a process packet.  not all of the package of interface.

if  there is a process

,  How to capture/modify/drop the package of it?

How to determine  the packet come from which process?

[2017-10-30 09:06] Areithus commented on #104
Please also check this: https://github.com/basil00/Divert/issues/103
Currently it's not possible in WinDivert to get the process.

[2017-10-30 09:07] Areithus commented on #103
Fair enough @basil00. Looking forward to it and if I can help with this (such as research or testing), please leave a message. I'll be glad to help.

[2017-10-30 10:39] basil00 commented on #104
As mentioned, it is currently not possible.  You can try to get the process ID via the IP helper API.

[2017-10-30 10:39] #104 closed

[2017-10-30 10:42] basil00 commented on #103
Sure, any reasonable solution will be considered.  As I mentioned, I also think this would be a useful feature.  But at the moment it does not look like there is an easy way of implementing it, short of WinDivert implementing its own flow tracking mechanism.

[2017-11-01 13:03] basil00 commented on #17
WinDivert now considers loopback packets to be "outbound only", thus inbound loopback packets will be ignored.  This should still be sufficient for filtering/modifiying loopback traffic, since each packet can still be captured on the outbound path.  Previously the packet would be captured "twice", once for outbound then once for inbound.

This helps workaround this bug.  For some reason, injecting

[2017-11-01 13:03] #17 closed

[2017-11-01 13:59] ljani commented on #103
Please also consider including thread ids and more imporantly [service tags](http://www.alex-ionescu.com/?p=52) if possible.

Thanks for the wonderful project!

[2017-11-03 21:01] sgeto commented on #103
would be nice if you could update the build system with the next release (just the VS and WDK stuff)

[2017-11-05 04:18] basil00 commented on #103
Are the MINGW builds compatible with VS?  If not, then I will revisit VS support.

I never use VS, so prefer not to support it if possible.  If I do support it, it should be in the form of a script that I can from the command line run that automatically builds everything, like the existing `msvs-build.bat`.

[2017-11-06 01:19] sgeto commented on #103
Yes they are. It's just that it's bit outdated and that I find that it could offer a bit more flexibility.

For example starting in Windows Driver Kit (WDK) 8, MSBuild replaced the Windows Build Utility (Build.exe), so the command `build -cZg` in `wddk-build.bat` breaks/errors with newer SDK's.
If the wddk related files (dirs, sources, Makefile.inc etc.) could be converted to/replaced with VS proj

[2017-11-06 01:44] basil00 commented on #103
The main motivations for WDK7 is that it is (1) free, and (2) generates a `sys` files that are compatible with Windows 7 and up without coinstaller files.  If those requirements can be met by WDK 10, then there is no reason not to upgrade.

[2017-11-07 11:25] faanigee opened #105 "Example Compile issue"
Dear brother,
i m compiling netfilter project from example folder but it shows error
![capture](https://user-images.githubusercontent.com/16011236/32491317-1230644c-c3d8-11e7-9d99-ea6c8fc2dc3f.PNG)
anyone can help me how to solve these issue...??
where i could find windows.h file
i think its main issue in this project

[2017-11-07 11:25] faanigee commented on #105
Note i m using visual studio 2012 edition

[2017-11-07 14:10] faanigee commented on #105
![image](https://user-images.githubusercontent.com/16011236/32497685-282dd3a8-c3ef-11e7-8820-247e90efe9bc.png)
here is visual c++ 6.0 compilation issues in windivert.h here windows.h is included but windivert.h show 102 errors and 6 warnings

[2017-11-08 01:17] basil00 commented on #103
### Checksum changes

I am experimenting with some changes to the way checksums are handled by WinDivert.

Currently, it is assumed that the full TCP/UDP/IP checksums needs to be calculated before injection.  If NIC checksum offloading is enabled (which is usually is), the packets will have invalid checksums, meaning that the user application must calculate them.

However, offloaded packets have s

[2017-11-08 01:19] basil00 commented on #105
Maybe someone with VS knowledge can answer this.  I never use VS so do not know.

[2017-11-08 03:30] edlau2 commented on #105
Without looking at the code, it seems like something is either not #define’d or #define’d incorrectly. ‘const’, ‘PVOID’, etc. should be defined if you include <windows.h>, doesn’t seem like they are, which leads to all sorts of subsequent compile errors.

[2017-11-08 11:50] rajeshvr83 opened #106 "Blue-screen error with "fwpkcln.sys" driver on Windows 10"
Hello,

We are facing Blue-screen error in newly installed Windows 10 machines. This issue is happens when we install Windivert driver and then try to connect to a network. Machine suddenly go for Blue-screen error when we connect to a network. When we analyze the memory dump file then found that the crashing module is "fwpkcln.sys" driver (WFP Kernel Client). Kindly give some suggestions to solve

[2017-11-08 14:31] basil00 commented on #106
Which version of WinDivert?  It appears to be the same issue as #90, in which case you need to upgrade to WinDivert version 1.3.0.

[2017-11-08 14:36] basil00 commented on #105
Well, `windows.h` should be a standard include so I have no idea why it would be missing.  This is not a WinDivert issue, so closed.

[2017-11-08 14:36] #105 closed

[2017-11-08 20:36] TechnikEmpire commented on #105
@faanigee why are you using vc 6? It's not 1999. You should download Visual Studio 2017 community edition it's full featured and free for independent devs and open source devs.

[2017-11-08 20:38] TechnikEmpire commented on #105
100 percent this is because you're using a fossilized version of visual studio. You're missing basic windows headers, standard sdk stuff that will come with a modern version built for modern platforms.

[2017-11-09 05:44] faanigee commented on #105
Going to give a try on visual studio 2015 professional edition :)

[2017-11-10 09:19] Areithus commented on #103
Do user mode applications need to do anything for this besides adding the extra parameter for `WinDivertHelperCalcChecksums`? It is unclear to me whether one has to check themselves whether a NIC supports offloading.

[2017-11-10 12:31] basil00 commented on #103
If the application is just modifying packets, there is no need to do anything other than preserve the address flags.  If the application is crafting packets from scratch, then the application can just calculate the full checksums.  Either way, it should not be necessary to check if the NIC supports offloading or not.

I might invert the flags, so `0` indicates the full checksum and `1` means pseud

[2017-11-12 08:05] basil00 commented on #103
### Impostor packets

There was some attempt to fix the driver infinite loop problem.  However the current solution is inadequate.  Specifically, (1) internally (re)injected packets can still loop, (2) the solution is currently incompatible with the checksums patch, and (3) the user application is not informed of the problem.

To fix these issues I am thinking of introducing a new "type" of packet

[2017-11-12 08:06] basil00 commented on #106
I assume this error was fixed.

[2017-11-12 08:06] #106 closed

[2017-11-12 12:39] Areithus commented on #103
I might invert the flags, so 0 indicates the full checksum and 1 means pseudo checksum. So zeroing the address reverts to the "sensible" default (full checksums).

Thank you for the information. I think that makes more sense indeed. Does this also mean that it's no longer required to manually call the calculate checksum when creating a new packet OR modifying an existing packet?

[2017-11-12 14:10] basil00 commented on #103
No, it is still required.  Only unmodified packets do not require checksum (re)calculations.  That said, pseudo checksums are cheaper to calculate, so even modified packets will benefit (assuming NIC checksum offloading is enabled).

[2017-11-12 21:21] nefarius commented on #53
Heya @basil00 I'd like to hop in on the driver signing train 😄

[2017-11-13 01:45] basil00 commented on #53
Great, if you want to help then contact me via email.

[2017-11-13 13:29] Areithus commented on #103
Expected as much (made most sense to me), thank you very much 👍
Have you decided whether you are going to invert the flags?

[2017-11-14 12:29] basil00 commented on #103
I've inverted the flags.  I think this is the more sensible default.

Most of the main 1.4 stuff is done I think.  I plan to work on a release, aiming for early December.

[2017-11-14 17:34] jessehouwing commented on #90
Another report, this time Eset Nod32/SystemSecurity

https://forum.eset.com/topic/13631-reproducible-bad_pool_caller-bsod-after-installing-eset-on-dell-precision-5520-on-autumn-edition

Uninstalling Free Download Manager (which ships with WinDivert) seems to resolve the issue so far. The issue was worse when Hyper-V network adapters were enabled on Windows Pro.

[2017-11-14 17:39] TechnikEmpire commented on #90
@jessehouwing Do you know what version of WinDivert they bundle in? Or even just a file hash I guess? I don't want to install it to find out.

[2017-11-14 17:41] jessehouwing commented on #90
![image](https://user-images.githubusercontent.com/4173387/32795249-75dff7b2-c96b-11e7-96f2-94e350c12a76.png)

[2017-11-14 17:42] TechnikEmpire commented on #90
@jessehouwing Thanks so much. That would definitely be affected by this. AFAIK latest version of WinDivert has this resolved.

[2017-11-14 21:52] jessehouwing commented on #90
Tracking Free Download Manager bug here: http://www.freedownloadmanager.org/board/viewtopic.php?f=1&t=17753

[2017-11-15 00:01] thalomatt opened #107 "Inject only - filter string = "false""
I get an invalid handle when I attempt an     _handle = WinDivertOpen("false", WINDIVERT_LAYER_NETWORK, 0, 0); --
The docs say this is an ideal "inject only" filter.  The call to GetLastError sent back 3081390800 -- seemingly garbage.

[2017-11-15 00:26] basil00 commented on #90
Yep, they are using the old 1.1.8 driver which can sometimes cause a crash.  They need to upgrade their software to use WinDivert version 1.3.0 or later.

[2017-11-15 00:34] basil00 commented on #107
I was not able to reproduce the problem.  Which version of WinDivert?

[2017-11-15 03:34] thalomatt commented on #107
1.3  using google test (as well as in my code)  - a filter with only "true" works as expected, but "false" fails each time.

    auto _handle = WinDivertOpen("false", WINDIVERT_LAYER_NETWORK, 0, 0);
   EXPECT_NE(_handle, INVALID_HANDLE_VALUE);  (fails)
;//

    auto _handle = WinDivertOpen("true", WINDIVERT_LAYER_NETWORK, 0, 0);
   EXPECT_NE(_handle, INVALID_HANDLE_VALUE);  (passes)

[2017-11-15 21:21] jessehouwing commented on #90
Could I just overwrite the driver with the latest version and be good?

[2017-11-16 00:38] basil00 commented on #90
Probably not since they are using version 1.1.8 which is not binary compatible with 1.3.0.

[2017-11-16 00:41] basil00 commented on #107
I still cannot reproduce, even with 1.3.0.  Which operating system, and is it 32bit or 64bit WinDivert?

[2017-11-21 07:35] madilsaeed commented on #103
Hi,
I am working with DNS based filtering. I am using WinDivert. First of all I must appreciate the work you have done. This is great.

I am intercepting DNS resolving request, right now I am just dropping unwanted url requests. but I need to construct a response DNS packet (specifically need to modify answers session and I want to show a block page in the browser. I was able to show block page pl

[2017-11-21 07:44] TechnikEmpire commented on #103
@madilsaeed You shouldn't hijack bug & feature requests to ask your own personal "how to" question. If you want to show a block page, be in by DNS or HTTPS, you're still going to need HTTPS because you need to establish trust with the browser to show the page when you spoof a fake DNS response.

What you're asking is beyond the scope of anything here and is no small task. I have a [C# library](htt

[2017-11-21 07:46] TechnikEmpire commented on #103
@basil00 Not trying to self promote, sorry about that. Please feel free to mop up my recent posts here.

[2017-11-21 07:51] madilsaeed commented on #103
@TechnikEmpire I will definitely look in to the suggested links.
thx.
and I didn't realized that I am starting a personal conversation in bug & feature session.

[2017-11-21 12:42] basil00 commented on #103
@madilsaeed, next time open a new issue for a new query, or post on stackoverflow (but email me the link otherwise it will get buried).  No point cleaning up these posts since better to have the question + answer on record somewhere.

Back on topic - so far the repository version passes all of my tests, so should release in a week or so.

[2017-11-22 15:26] nmweizi opened #108 "error: failed to open the WinDivert device (1753)"
D:\WinDivert-1.3.0-WDDK\amd64>netdump.exe true 999
error: failed to open the WinDivert device (1753)

windows 10  64bit 1703
windivert 1.12-1.3.0

[2017-11-22 23:34] basil00 commented on #108
Error 1753 is `EPT_S_NOT_REGISTERED`: *There are no more endpoints available from the endpoint mapper.*

I am not sure what that means.
I also cannot reproduce the problem.  Does it work after reboot?

[2017-11-23 12:41] nmweizi commented on #108
thanks。
after reboot，it dont work！

[2017-11-24 12:31] basil00 commented on #108
WinDivert does not return that error code directly, which means the error occurs in a library or service that is used by WinDivert (e.g., driver installation, or WFP transactions, etc.).  After googling, it seems this is something to do with the RPC configuration on your computer, and there are some online guides regarding how to fix the problem.  Other than that, I do not know the underlying caus

[2017-11-24 12:31] #108 closed

[2017-11-26 13:24] nmweizi commented on #108
it is work.
https://github.com/jagt/clumsy/issues/24

[2017-11-26 22:49] basil00 commented on #108
Thanks for tracking that down, I have [updated the documentation](https://github.com/basil00/Divert/commit/af5cd698837a679c85198de678be28f7225538aa).

[2017-11-27 13:29] thalomatt commented on #107
I apologize, I thought I had already replied to this.  64 bit Windows 10 with the fall update.  I ended up using a filter that should catch no packets ("tcp and udp").   I do however experience the occasional issue when using the WinDivertSend  with error 1233. "ERROR_PROTOCOL_UNREACHABLE" which has the description: The network location cannot be reached.  I'm not sure if it's tied to this new "se

[2017-11-28 11:27] huge818 opened #109 "Where there is an Ethernet hijacking project？"
Divert is a greate project! I like it!
but,
Where there is an Ethernet hijacking project？

It is similar the Divert proejct?

I hope hijacking some protocol  not justthe  IP protocol.

who can help me?  Recommend a good project？

[2017-11-29 01:20] basil00 commented on #107
I also tried with Windows 10 a few days ago but also failed to reproduce the problem, so very strange.  I'll try again with different versions later.

As for the 1233 error, based on the description, I are you sure it is just not the network temporarily dropping out?

[2017-11-29 01:24] thalomatt commented on #107
figured out thr 1233 issue just a few hours ago.  they were multicast
packets

On Nov 28, 2017 8:20 PM, "basil00" <notifications@github.com> wrote:

[2017-11-29 01:25] basil00 commented on #109
There is `winpkfilter` which can do Ethernet filtering.  However, this project is commercial so be prepared to pay for a license.

Note also that you can reconstruct the Ethernet headers with WinDivert and the IP helper API.  The `IfIdx` field can be mapped to the Ethernet address.

[2017-11-29 01:25] #109 closed

[2017-11-29 01:27] basil00 commented on #107
Interesting, I may need to document that behavior.

[2017-12-05 04:40] basil00 opened #110 "BSOD when combining WinDivert with Avast (part II)"
*Note: This is not affect WinDivert 1.3.*

Version 1.4 of WinDivert has been delayed because the Avast BSOD issue has arisen again.  This was strange, since the original code that "caused" the previous issue (#90) had been fixed.

After some investigation, it seems that the issue relates to a call to `NdisRetreatNetBufferDataStart` in the [`windivert_worker`](https://github.com/basil00/Divert/blob

[2017-12-05 04:42] basil00 commented on #90
Paging @kolaci

Perhaps you have some insight for issue #110?

[2017-12-05 08:54] Areithus commented on #110
Did you run the WFPSamplerInstall.cmd script? It should be executed before you run the executable.

[2017-12-06 10:52] kolaci commented on #110
Is possible to download memory dump file for this issue?

[2017-12-07 02:56] basil00 commented on #110
@Areithus Yes I did run the install script.  After prompted for reboot (&did so), still no luck.  I guess that I must have messed up my VS2015 + WDK install.

@kolaci Thanks for taking a look.  I can send you links to crash dumps and/or the (signed) WinDivert1.4 drivers that exhibit the problem.  Can you contact me by email (my email address is at the bottom of [this page](https://reqrypt.org/wind

[2017-12-07 07:53] polachz commented on #110
@basil00 @kolaci From my previous experience with WFP, i can say that reference just "protect" data against deletion. But not grants data consistency between calls.  Then referenced packet can be changed between point of referencing and next OOB processing. Often the referenced packet changes it's length etc. It happened to me on STREAM_LAYER, but i think that this behavior is generic.
If you have

[2017-12-08 01:15] basil00 commented on #110
I think this is not supposed to happen (unless the other drivers are buggy).

WinDivert 1.4 is an "Out-of-band Modification Callout" as per [Microsoft's definition](https://docs.microsoft.com/en-us/windows-hardware/drivers/network/types-of-callouts), so the procedure is to `FWP_ACTION_BLOCK` and `FWPS_CLASSIFY_OUT_FLAG_ABSORB` the packet, and take a reference using `FwpsReferenceNetBufferList`.  A

[2017-12-08 08:54] polachz commented on #110
@basil00

I an just say, that reference brings BSODs to my code, when I move to clone, it gone. I used Microsoft example as base of my code too. It doesn't grant that MS example i correct in all way. I got indirect confirmation that examples can be buggy too from MS Staff on the Microsoft Plug Fest.

[2017-12-11 01:27] basil00 commented on #110
Cloning will probably "work" because advancing/retreating no longer alters the state of the original `NET_BUFFER`.  It is not as efficient as simply taking a reference, but I may fall back to this approach if nothing else works.

That said, I still want to find the root cause of the problem.  It is apparent that the "fix" from version 1.3 didn't really do this.  If the same bug exists in the sampl

[2017-12-15 12:05] alervd opened #111 "Blocks network traffic"
Hello,

1.1.8 worked fine.  I've tried updating to 1.3 version and got the following issue: WinDivert blocks all HTTP network traffic (I use the following filter: "tcp and (tcp.DstPort == 80 or tcp.SrcPort == 80)"). I.e. all HTTP sites becomes unavailable. HTTPS sites continues to work in my browser.

This is when I'm on LAN. But, if I switch to Wi-Fi, issue is gone.

I suspect some sort of confli

[2017-12-15 21:19] TechnikEmpire commented on #111
@alervd Can you provide more details, like the actual code sample? What are you doing with the handle you use that filter on? Is it a drop handle? What about checksum calculation, etc etc. Https of course will be let through because you're only targeting port 80 and not 443. There's quite a few things that could be going on, so showing source code is the only real way to properly resolve the issue

[2017-12-15 21:55] basil00 commented on #111
The first thing to check is whether you are recalculating checksums for *all* packets, even unmodified packets.  See the [WinDivert1.2 upgrade guide](https://github.com/basil00/Divert/wiki/WinDivert-1.2-Upgrade-Guide), which also applies to version 1.3.

This may explain the symptoms you see, since the Wi-Fi adapter may not support checksum offloading.

[2017-12-18 17:49] alervd commented on #111
checksums

[2017-12-18 17:49] #111 closed

[2017-12-24 09:57] basil00 commented on #110
Just a quick update: development is on hold until the new year.  If there is still no resolution to the bug, I'll switch to using cloned packets for the 1.4 release as per @polachz's suggestion.

[2017-12-29 20:01] kelvinomolumo commented on #103
Please let there be an MSVC build for WinDivert v1.4. Thanks!!!

[2018-01-04 06:30] GreatFireWall opened #112 "WINDIVERT_TCPHDR definition different to RFC793"
Node that the ```Reserved1``` and ```HdrLength``` in WINDIVERT_TCPHDR is reversed.

WINDIVERT_TCPHDR:
![image](https://user-images.githubusercontent.com/4510984/34552309-9b82883c-f15b-11e7-828f-7a4f6f44f34f.png)

RFC793 (https://tools.ietf.org/html/rfc793#page-15):
![image](https://user-images.githubusercontent.com/4510984/34552253-613d98ec-f15b-11e7-8725-6bc7cfb7c97e.png)

[2018-01-04 07:04] ffalcinelli commented on #112
I think it's right cause you should consider the network byte order

[2018-01-04 07:49] GreatFireWall commented on #112
@ffalcinelli
But I saw the source of ```WinDivertHelperParsePacket``` in https://github.com/basil00/Divert/blob/master/dll/windivert_helper.c#L250:13, there isn't any netword order reversing operation for other fields like ```SrcPort```, ```DstPort```, etc...

Another evidence is in the source code of "Divert.Net"(a WinDivert C# Wrapper), it do ByteSwap operation before return:
[code]
ref: https:/

[2018-01-04 08:50] GreatFireWall commented on #112
emm, I have seen a few knowledge of "Bit field", I think it's my misunderstanding.

[2018-01-04 08:50] #112 closed

[2018-01-04 11:34] basil00 commented on #112
Bit fields fill the LSB first (at least for the target compilers), which can be a bit counterintuitive. The definitions should be correct otherwise the WinDivert test suite will fail.

[2018-01-04 12:21] GreatFireWall commented on #112
well, thanks your guide.

[2018-01-05 05:35] GreatFireWall opened #113 "How can I filter by route table ?"
Cause the limit of filter string, how can I filter by a batch IP range as the following route table (thousands total):
[code]

[2018-01-05 09:54] basil00 commented on #113
The standard approach is to open a WinDivert handle with the `true` filter, then do the "real" filtering in the user-mode application.  If a packet does not match any IP range, then simply re-inject it unmodified.

[2018-01-05 10:00] GreatFireWall commented on #113
but will this cause unnecessary performance lost due to kernel-mode -> user-mode -> kernel-mode ?

[2018-01-05 10:01] stonedreamforest commented on #103
yes , support pid please

[2018-01-05 10:06] basil00 commented on #113
Yes, but encoding a long list into the filter language is also inefficient (which is also the motivation for the filter language length restrictions).

Ideally the filter language should support a set inclusion operation, which would be implemented using an efficient binary search inside the driver.  However, this feature does not exist (yet).

[2018-01-05 10:10] GreatFireWall commented on #113
understand. thanks your guide. :)

[2018-01-08 00:34] basil00 commented on #110
After further analysis it seems that the hypothesis in the original post is correct, i.e. for whatever reason, the Avast driver is modifying packets (via `NdisRetreatNetBufferDataStart`) that were blocked & absorbed by WinDivert.  This leads to a race: where the WinDivert out-of-band worker thread and the Avast driver are both trying to advance/retreat the same packet at the same time, and this is

[2018-01-08 00:34] #110 closed

[2018-01-08 13:08] polachz commented on #110
Hi @basil00.

I think taht i have found the problem after your description. It' design problem and it explain why the Cone is necessary instead of the reference.
When the First Callout is called, you have guarantied  by MS specification, that packet is in expected state. MS require by specification, that you have to restore packet to the same state, before you leave the callout, even you will abso

[2018-01-08 14:01] basil00 commented on #110
I am not sure since several of Microsoft's own sample programs, including [Out-of-band Packet Modification from Incoming Datagram Data Layers](https://docs.microsoft.com/en-us/windows-hardware/drivers/network/packet-modification-examples), merely reference the NBL and retreat/advance out-of-band, which is precisely what caused the problem with WinDivert+Avast.

Was it ever clarified that the Avast

[2018-01-08 15:55] polachz commented on #110
Forget on MS example ,please. It's buggy sometimes, we know this.

[2018-01-08 16:55] kolaci commented on #110
Hi Basil,
According to documentation https://msdn.microsoft.com/en-us/library/windows/hardware/ff551229(v=vs.85).aspx, flag FWPS_RIGHT_ACTION_WRITE controls access to member FWPS_CLASSIFY_OUT::actionType only and Avast driver works exactly this way. So I think, you cannot use the FWPS_RIGHT_ACTION_WRITE for protection whole NBL.

[2018-01-08 19:07] GreatFireWall commented on #82
@mbg033 Try modify ```ip.SrcAddr``` and ```ip.DstAddr``` to ```127.0.0.1``` both.

[2018-01-09 04:45] basil00 commented on #110
@polachz No I do not think it is likely that the Microsoft samples are buggy.  But if you believe so, then please submit a bug report and they will definitely want to fix them.  Remember that other WFP devs will be basing their drivers off the same code, and this will cause problems for your users.

@kolaci The way I see it: the Microsoft samples consistently use the `FWPS_RIGHT_ACTION_WRITE` bit

[2018-01-09 08:34] kolaci commented on #110
We are anti-virus SW, we need to see every packets including these which were blocked by another SW (these packets should have FWPS_RIGHT_ACTION_WRITE set to FALSE too). We need to track and report every found virus signature to our anti-virus engine independently on third-party SW. This is why I cannot ignore packets with cleared FWPS_RIGHT_ACTION_WRITE bit.

[2018-01-09 10:24] basil00 commented on #110
I understand why you want to do this, however that is not relevant if it is not allowed by the API.  This is why I suggested getting clarification from Microsoft.

Either way, this bug affects your driver and your users, so it is up to you to fix it.  WinDivert ignores packets with the `FWPS_RIGHT_ACTION_WRITE` bit cleared so is not affected by this problem.

[2018-01-09 13:17] GreatFireWall opened #114 "Is there any other way to redirect all tcp traffic to local proxy ?"
The example "streamdump" is too complex and low flexibility.

[2018-01-09 13:37] TechnikEmpire commented on #114
@GreatFireWall https://github.com/TechnikEmpire/HttpFilteringEngine/blob/master/src/te/httpengine/mitm/diversion/impl/win/WinDiverter.cpp

[2018-01-09 13:40] TechnikEmpire commented on #114
Also see https://github.com/TechnikEmpire/CitadelCore and https://github.com/TechnikEmpire/CitadelCore.Windows

The only thing missing is port independent protocol mapping but if you feel like a fun exercise you can modify the ndpi library to play nice with WinDivert.

https://github.com/ntop/nDPI

[2018-01-09 13:43] GreatFireWall commented on #114
thanks.

[2018-01-09 14:08] TechnikEmpire commented on #110
100 percent agree with basil and I offer the same advice. Right now the advice to a community of about 25K people is to switch antivirus software so it doesn't break their other software that uses WinDivert. I'm sure that's gotta be more valuable than sending a few dropped packets to your servers for analysis.

[2018-01-09 15:44] polachz commented on #110
@basil00 Can you please give me a link, where you find in MS doc that the flag FWPS_RIGHT_ACTION_WRITE Means that you have to leave the packet untouched?? I just found this:

FWPS_RIGHT_ACTION_WRITE

    If this flag is set, a callout driver can write to the actionType member of this structure. If this flag is not set, a callout driver can write only to the actionType member of this structure if i

[2018-01-09 21:04] kolaci commented on #110
And I would like to point out that there is possibility of vetoing. So if some driver can do veto operation it must have possibility to inspect packet with zeroed FWPS_RIGHT_ACTION_WRITE flag.

I think that our driver doesn't violate any MS API documentation. And we don't have any choice - inspecting of previously blocked packets (with zeroed FWPS_RIGHT_ACTION_WRITE) is necessary for us.

And last

[2018-01-09 23:15] basil00 commented on #110
Why are you bothering me with these questions?  I am not the authority on WFP behavior.  You need to raise it with Microsoft not me.

The fact of the matter is that Microsoft's WFP sample driver code appears to cause **your** driver to crash. That 's **your** problem not mine.  You also seem to be claim that the sample code is wrong.  That's a pretty big claim, but who knows, maybe you are right?

[2018-01-09 23:50] basil00 commented on #114
The `streamdump` sample is a bit more complicated than it needs to be because it uses overlapped I/O.

I assume this issue is resolved?

[2018-01-09 23:50] #114 closed

[2018-01-11 17:37] ValdikSS opened #115 "Build for Windows RT (ARMv7)"
Hi, a user of GoodbyeDPI asking for Windows RT (8.1 ARMv7) build. He says that his device is jailbroken, with administrator privileges, and that it also loads drivers (e.g. VueScan).
https://github.com/ValdikSS/GoodbyeDPI/issues/51

Is it possible to compile WinDivert for Windows RT? Is it possible to sign driver with the current signing key, are there any architecture restrictions?

[2018-01-12 01:00] basil00 commented on #115
In principle it should be possible.  I think the main problem is that  WinDivert currently uses WDK 7.1 and I don't think that version supports ARM cpus.

[2018-01-12 05:11] hooddy commented on #115
Hi there. It's for my request issue. Why dontcha switch to [WDK8](https://www.microsoft.com/en-us/download/details.aspx?id=42273)? I suppose [WDK7](https://www.microsoft.com/en-us/download/details.aspx?id=11800) isnt support Win8 well at all.

[2018-01-12 06:17] basil00 commented on #115
WinDivert needs to support Windows 7 and up, and the easiest way to accomplish this is to use WDK7.

That doesn't mean other WDKs couldn't also be supported side-by-side.  But there hasn't been any need to do so yet.

Also, I'd prefer if the driver build could be wrapped up into a script like the current `wddk-build.bat`.  Newer WDKs integrate into VS I believe, which complicates the build process